[2021-10-07 18:40] FLO-2DKaren opened #765 "Infiltration Calculation"
- [x] Enhance the infiltration calculation routine for RTIMP.
- [x] Revise code so that combined RTIMP from soils and Land Use does not exceed 1.

[2021-10-07 18:42] FLO-2DKaren opened #766 "Python 3.9 update"
Update the plugin so that it can load into the latest QGIS.
We will need this to be online so our people can use the Mesh tool and QGIS 3.20...

[2021-10-07 18:44] FLO-2DKaren opened #767 "Actions"
Verify that our testing actions are still valid.

[2021-10-08 14:32] FLO-2DKaren opened #768 "SCS Infiltration Calculator"

[2021-10-11 15:31] #761 closed

[2021-10-15 11:26] FLO-2DKaren commented on #697
See #762

[2021-10-15 11:26] #697 closed, assigned to nobody

[2021-10-15 11:30] #694 closed, assigned to nobody

[2021-10-15 11:34] #648 closed

[2021-10-15 11:35] #723 closed

[2021-10-16 21:04] FLO-2DKaren commented on #726
@FLO-2DJJ
Here is the info from the data input manual.
	Line 5:	STRUCHAR = ‘F’  TYPEC(I)  TYPEEN(I)  CULVERTN(I)  KE(I)
		CUBASE(I)   **MULTBARRELS(I)**
		I = number of structures, Set ICURVTABLE = 2 in Line 1.
F   1   2  0.040   0.1   0.0   **2**

MULTBARRELS(I)	i	1 - 10	Multiple barrel option for generalized culvert equation.   The engine will multiply the Q by the number of barrels (see comment

[2021-10-17 17:20] FLO-2DKaren opened #770 "Building Collapse"
The building collapse settings are not correct.

- [ ] The grid element is negative for a T line or totally blocked cell.
- [ ] The ARF value is negative for a partially blocked cell.
- [ ] Let's assign this to ITTAWF or ARF in Blocked cells table when we schematize.  Right now, it is being set in the Blocked Areas User layer.

[2021-10-18 21:04] FLO-2DKaren opened #771 "Mud/Sediment ToDo List (with 2phase)"
Debris Basin
The intent is to have an inflow element enter a basin and the hydrograph will fill the volume before it can move downstream.
The cell number in the debris basin is the same cell in inflow.dat that will fill the basin.

Sediment size fraction and sediment rating curve

- [x] Change percentage to Percent Finer

- [x] #905

Rigid bed

- [x] I think we can digitize the rigid bed layer dir

[2021-11-12 14:14] ldebek commented on #762
Hi @FLO-2DKaren I have a question for number 2 - where this option (which part of the "Correct grid elevation" dialog) this option should appear? Is it this one on a picture below? And should this new behavior replace existing Min/Max/Mean statistics calculations or should it be a new option?
![image](https://user-images.githubusercontent.com/11883222/141480807-8da1eb40-bed6-484e-b306-227d1ffd8ae8

[2021-11-12 16:36] FLO-2DKaren commented on #762
@ldebek Hi Lukasz,  Yes that seems like the correct place.  But we should test it.  If the Layer Name is long, it might try and stretch that combo box.  I think it's OK if we keep that combo box at a restricted size.

[2021-11-12 17:07] FLO-2DKaren commented on #771
@FLO-2DJJ @FLO-2DNoemi Let's be sure to use this list to help us with our meeting today.

[2021-11-12 17:10] #722 closed

[2021-11-12 17:11] ldebek commented on #762
@FLO-2DKaren In that case I think that best idea will be to put that tick box under raster combobox. Dialog needs to be a bit wider anyway if we want to add Polyline bufer opition as well.
![image](https://user-images.githubusercontent.com/11883222/141506969-1293189d-5baf-4a18-b664-049dd2208430.png)

[2021-11-12 17:32] FLO-2DKaren commented on #762
@ldebek OK that looks good.  I agree it is better.

[2021-11-12 17:44] FLO-2DKaren commented on #762
We should test this on a Laptop too because sometimes the form is too big for a laptop screen and you can't scroll it.  Is there a way to add a scroll option to the side of the form if it is too big for a laptop?

[2021-11-12 21:20] FLO-2DKaren commented on #771
2 phase example
https://flo-2d.sharefile.com/d-s9a9e5c77b9254a3881f362d5d263720a

[2021-11-14 13:30] FLO-2DNoemi opened #773 "Storm Drain Conduit Shape Fix"
Revision of conduit shape that is being written to the INP file. It needs to match the exact name from the dropdown menu in the conduit table.

[2021-11-15 17:44] ldebek commented on #768
@FLO-2DKaren Changes are ready for testing on branch: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/tree/oct2021_sprint

[2021-11-15 17:56] ldebek commented on #762
@FLO-2DKaren Changes are ready for testing on branch: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/tree/oct2021_sprint

[2021-11-16 18:57] FLO-2DKaren commented on #768
@ldebek I'll test it soon but I have a potential issue.  I just found the Curve Number Generator plugin and it suits our plugin very nicely.  I may want to add some programming related to that so we can put it on another job or something.  I'll get this tested and then meet with you.

[2021-11-17 17:49] FLO-2DKaren commented on #726
@FLO-2DJJ @FLO-2DNoemi When we do the multiple barrels code, let's test the import tool because it might not be importing the cubase correctly.  My cubase on subdomain 1 came in as 0 and 1 instead of a width value.

[2021-11-17 18:40] FLO-2DKaren opened #775 "Breach.DAT export"
![Breach data export wrong](https://user-images.githubusercontent.com/20424460/142261963-31559b16-98e5-4976-b93a-a74ff841e2f3.png)

[2021-11-17 18:40] FLO-2DKaren commented on #775
You can close the issue too if you've fixed it.

[2021-11-17 18:53] FLO-2DKaren commented on #775
![Breach data line 2 error](https://user-images.githubusercontent.com/20424460/142264006-9181404f-7580-45a9-befe-2d45ac38e60a.png)
@FLO-2DJJ
Hi JJ,  I've confirmed that this issue is still wrong.  The Line 2 needs to be B2 not B1.  I think the rest is OK.

[2021-11-26 13:31] ldebek commented on #766
Hi @FLO-2DKaren I managed to run FLO-2D plugin on QGIS 3.22 with Python 3.9. I had to update `pyqtgraph` package to the version 0.11.1 (previous version 0.10.0 doesn't work with Python 3.9), which required few code adjustments in the drawing plots logic as well. [Here ](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/pull/776)is the PR with those changes.
![image](https://user-images.githubus

[2021-11-26 13:31] ldebek commented on #767
All actions seems to work just fine.

[2021-11-28 01:34] #766 closed

[2022-01-01 17:33] FLO-2DJJ commented on #764
It seems that both methods can be applied. See this near the end of white paper:

[2022-01-03 11:02] FLO-2DNoemi commented on #764
JJ, That is correct. Both methods can be used in the current FLO-2D engine.

On Sat, Jan 1, 2022 at 12:33 PM Juan Jose ***@***.***> wrote:

[2022-01-04 14:37] FLO-2DNoemi commented on #773
@FLO-2DJJ   I tested this and I think we can close it. Please confirm that this is complete.

[2022-01-06 17:34] FLO-2DKaren commented on #764
Notes:
QGIS needs the mult channel switch.
FLOPRO doesn't need the switch right now but will still read it OK regardless of how the system is set up.

simplemult.dat - Only a single line of cells can be used.  Line 1 (global n) is n value and line 2 can only be the cell.
mult.dat - Same as before

Update data input manual.

[2022-01-06 18:10] FLO-2DKaren opened #777 "New Realtime Rainfall Calculator"
Program the new real time rainfall calculator.

- [ ] Add import export functionality.
- [ ] Add calculator to the Rainfall Widget.
- [ ] Remove extra decimals (4 may be sufficient. Currently 6)
- [ ] Test

These are related or duplicated: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/777, https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/790, https://github.com/FLO-2DSoftw

[2022-01-13 15:02] FLO-2DKaren opened #779 "Levee Moving Window Sort Error"
Levee ideas.

- [x] Modify the moving window code to clip the levee lines to the window using a temp layer prior to running the levee calculator.
- [x] There are two processes that check duplicates.  This is not correct.  One checks for duplicates and one checks for redundant levees.  Rename the processes correctly.
- [ ] The duplicate levee check needs to be added to walls failure.
- [x] Add a me

[2022-01-13 15:02] FLO-2DKaren commented on #779
Test on Metro.

[2022-01-13 15:07] FLO-2DKaren opened #780 "RainARF IE Issue"
1. When RainARF is calculated from Raster, it is stored as rainfall depth.
2. When RainARF is imported from a project, it is imported as a factor.
3. When RainARF is exported, it uses an averaging calculation to set the rainARF.  This only works for number 1.  We need a solution for number 2.  haha number 2.

[2022-01-13 15:09] FLO-2DKaren opened #781 "Fix Error Message"
@FLO-2DJJ  I'm giving this to you because I already outlined how to fix these below.  They should be easy.

Run FLO-2D has a message to check if the model runs or not.  it always shows a failure so I think we should take that message out.  It's in flo2d.py under the Run FLO-2D sections.

[2022-01-13 15:25] FLO-2DKaren commented on #765
@vaughanster
Nate, can you do a simple workflow and final result description here?

[2022-01-13 15:26] FLO-2DKaren commented on #770
@FLO-2DKaren Upload an example and a gif to show what's wrong.

[2022-01-13 15:30] FLO-2DKaren commented on #770
@FLO-2DKaren Test this and export data.  Upload a model and link it here.

[2022-01-13 15:34] FLO-2DKaren commented on #726
Update table
Update table editor panel
test import export with and without barrels

[2022-01-13 15:35] FLO-2DKaren commented on #775
@FLO-2DKaren Upload test project Module 6

[2022-01-13 15:41] FLO-2DKaren commented on #780
@FLO-2DKaren upload an imported rainarf project for Lukasz.

[2022-01-13 15:44] FLO-2DKaren commented on #781
![image](https://user-images.githubusercontent.com/20424460/149361815-17a35c5d-5e3d-4790-93d9-8fbbcbca6716.png)

[2022-01-13 15:55] FLO-2DKaren opened #782 "Python Modules"
Can you see if QGIS team will add hdf5 and h5py modules to the stand alone installer.

[2022-01-13 16:00] FLO-2DKaren opened #783 "Levee Duplicate Error Message"
![image](https://user-images.githubusercontent.com/20424460/149364357-a2343f1a-8cca-4a18-8301-733817bf7dbc.png)

This error message shows up on only one project.  Can you see what's happening and if there is a fix?  This error message happens when the remove duplicate schema levees occurs.

@FLO-2DKaren Upload the project

[2022-01-13 16:11] FLO-2DNoemi opened #784 "Compatibility when importing an old inp (Subcatchments table)"
@FLO-2DJJ

We need to check the compatibility when importing an old *.INP to create the FLO-2D SD model (SWMMFLO.DAT, SWMMFLORT.DAT).  The tables junctions and subcatchments (if exists) have different order of the inlets. This affects the order of the inlets in SWMMFLO.DAT file and could create bad output or an error running the model (FLOPRO.exe).

Also, when the INP is imported, the type of inle

[2022-01-13 16:11] #773 closed

[2022-01-13 16:17] FLO-2DNoemi commented on #649
@FLO-2DJJ @FLO-2DKaren

The _Add Storm Drain Points_ was removed, the button still in the plugin, we should remove it.

[2022-01-13 16:19] #652 closed

[2022-01-13 16:21] FLO-2DNoemi commented on #681
@FLO-2DJJ @FLO-2DKaren

Storm Drains conversion from User to Schematic work.  Is the conversion of the rest of the components working?

[2022-01-13 16:33] FLO-2DNoemi commented on #693
@FLO-2DKaren this should not be difficult to complete. I will add it.

[2022-01-13 16:38] FLO-2DNoemi commented on #695
@FLO-2DKaren I will complete this with JJ. The data for a control gate is all in the INP file so we only need to make sure that we can read it and write it from the plugin.

The *.DAT files do not have changes.

@FLO-2DJJ let's complete this along with the SD changes that we are currently working on.

[2022-01-13 16:45] FLO-2DNoemi commented on #717
@FLO-2DKaren can we close this? I remember we added the multiple barrels field. Is this correct?

[2022-01-13 16:52] FLO-2DNoemi commented on #720
@FLO-2DJJ we need to review the Type 4 Generalized Culvert Equation.

[2022-01-13 16:57] FLO-2DNoemi commented on #726
@FLO-2DJJ @FLO-2DKaren is the importing tool working for Cubase?

[2022-01-13 17:12] FLO-2DNoemi commented on #764
Mult.DAT and simplemult.dat files can be used both in a project. They are not exclusive.

[2022-01-13 17:13] FLO-2DNoemi commented on #777
@FLO-2DJJ I have an example that we can use to add this.

[2022-01-13 18:26] FLO-2DKaren commented on #783
Here is the project.
https://flo-2d.sharefile.com/d-s8d409a7e3df941b38fe4e1d965f007fa

[2022-01-13 20:00] FLO-2DKaren commented on #717
@FLO-2DNoemi It isn't finished but I'm giving it to Lutra.  Don't close it.

[2022-01-13 20:01] FLO-2DNoemi commented on #717
Perfect.

On Thu, Jan 13, 2022 at 3:00 PM Karen ***@***.***> wrote:

[2022-01-13 20:03] FLO-2DKaren commented on #681
Not certain.  We'll have to test it.

[2022-01-13 20:48] FLO-2DKaren commented on #770
Export Test shows that the error is in the partially blocked data lines in ARF.DAT.  The T lines are correct but the ARFWRF lines are not correct.  The "-" should be assigned to the ARF value in index position 1 not the grid element in index position 0.

Here is the data.  https://flo-2d.sharefile.com/d-sef9b81325ed74f7a824e41110fe7050f

[2022-01-14 00:25] FLO-2DKaren commented on #775
Here is the test data.  The test steps are to Export the data files and look in breach.dat.
https://flo-2d.sharefile.com/d-s46fdeeba2ee2431ab168ea77e1fc6eb7

[2022-01-14 00:53] FLO-2DKaren commented on #780
https://flo-2d.sharefile.com/d-sca3041c79b4c4851adbdc3a32c14fdfe

Details on fixing this one.
1. Use two different export functions.
2. If a data was imported, the Export the data directly from that layer.
3. If the data was calculated from a raster, Export the data like normal.
4. Make the Import function only add data to the user layer.

Here is the video showing the error.
https://attendee.goto

[2022-01-14 00:56] FLO-2DKaren commented on #783
Just run this tool to get the fail message.
![image](https://user-images.githubusercontent.com/20424460/149432755-d2dc8ef9-cbd4-410f-a02b-1be983758ed3.png)

[2022-01-14 13:09] vaughanster commented on #765
Workflow -
Perform an intersection with soils, land-use and grid datasets (preferably using the moving-window analysis to limit the amount of data processed at once).
Calculate the Green and Ampt components based upon the soils and land-use data as is done currently, including use of the effective imperviousness modifier.
When performing the RTIMP portion of the Green and Ampt calculation, evaluat

[2022-01-24 15:28] FLO-2DNoemi commented on #726
I need to add MULTBARRELS to FLOPRO.exe (TYPE4SD):

STRUCHAR,TYPEC(I),TYPEEN(I),CULVERTN(I),KE(I),CUBASE(I)**,MULTBARRELS(I)**

@FLO-2DJJ we need to add this to the plugin.

[2022-01-24 15:54] FLO-2DNoemi commented on #777
Getting rid of zeroes will substantially reduce the size of the RAINCELL.DAT.

[2022-02-01 21:06] FLO-2DKaren opened #786 "Failed Action Test"
@ldebek I'm adding a failed action test to your project.  Maybe we should wait for JJ to finish the code and then fix the action test.

1. mult.dat import test was missing 2 variables on line 1.  I added them but the test still failed.
2. I think the test is failing because of the new code JJ is adding to the import lines in the flo2dgeopackage.py.  Let's wait for him to finish his work and then f

[2022-02-01 21:11] FLO-2DKaren commented on #786
@ldebek Lukasz,  I think this is new so it isn't covered by the maintenance work order.  I think we can add it to a new work order and we can discuss it when you aren't so busy.

[2022-02-02 13:56] FLO-2DKaren opened #787 "Sediment Transport Review"
@FLO-2DJJ Hi JJ,  I'm doing a review of the sediment transport forms.  I'll post some notes here.  Some things are easy to fix and others will take more work.

[2022-02-02 13:57] FLO-2DKaren commented on #787
Default for these check boxes should be Unchecked.

![image](https://user-images.githubusercontent.com/20424460/152167648-ca348f55-f0ac-49f7-985b-dcaa16d99830.png)

[2022-02-02 13:58] FLO-2DKaren commented on #787
Default for this checkbox should be unchecked.

![image](https://user-images.githubusercontent.com/20424460/152167844-3582c1b5-3fca-4503-a6d5-f232a69f90be.png)

[2022-02-02 14:03] FLO-2DKaren commented on #787
When Dline is unchecked, the data is still written:

![image](https://user-images.githubusercontent.com/20424460/152168621-6e6d9c97-6d13-430e-8e69-0636782312dc.png)

[2022-02-02 14:11] FLO-2DKaren commented on #787
This column is not Equation, it is Group Number.  It should not be tied to a sediment tranport equation.  It will just be a whole number 1 to n.

![image](https://user-images.githubusercontent.com/20424460/152169635-e70b014d-3dea-49c4-ad8b-099b55391640.png)

The Group number comes from the Group_fid of the Group Areas.

![image](https://user-images.githubusercontent.com/20424460/152170078-e27d850e

[2022-02-02 14:26] FLO-2DKaren commented on #787
Here is the code.  The isedeqi should be isedgroup

                # Load Size Fractions table:
                size_fractions = self.gutils.execute("SELECT isedeqi, bedthick, cvfi, dist_fid FROM sed_groups ORDER BY dist_fid").fetchall()
                if size_fractions:
                    self.sed_size_fraction_tblw.setRowCount(0)
                    for row_number, sf in enumerate(size_fracti

[2022-02-02 14:29] FLO-2DKaren commented on #787
Here is the G line example in SED.DAT

![image](https://user-images.githubusercontent.com/20424460/152173282-5398eca8-2a7f-48d4-ab3b-0e2bc94b7d70.png)

[2022-02-02 14:40] FLO-2DKaren commented on #787
I don't think we need this table.  The grid element number will come from the Intersection of Group Areas with the Grid.

![image](https://user-images.githubusercontent.com/20424460/152175275-9a1afaae-66ca-4e7f-8d4d-825c0eb70875.png)

[2022-02-04 12:09] ldebek commented on #786
@FLO-2DKaren Should I then  have a look at this issue or @FLO-2DJJ will handle that?

[2022-02-04 15:55] ldebek commented on #782
@FLO-2DKaren h5py is only available as an extra package available in OSGeo4W installer. I'm not aware of any plans to incorporate it within QGIS standalone installer.

[2022-02-04 16:37] ldebek commented on #786
@FLO-2DKaren @FLO-2DJJ  I've checked test issue and it seems that it's caused by last dir DAT files checkes like here: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/blob/d33726bab45216da2f548149382a201798af4fee/flo2d/flo2d_ie/flo2dgeopackage.py#L719
Putting this kind of logic in `flo2dgeopackage.py` is bad idea, as it suppose to contain methods for already parsed data. Files presence checks

[2022-02-04 16:53] FLO-2DKaren commented on #782
@ldebek

OK can you help me formulate a simple method for people who are using the Stand Alone installer?

Testing on QGIS 3.18.2  (my stand alone installation)
I used the OSGEO4W shell to install h5py.  I looked in all 3 paths to make sure h5py is located present.  Everything seems OK.

`**C:\>py3_env**
C:\>SET PYTHONHOME=C:\PROGRA~1\QGIS3~1.18\apps\Python37
C:\>SET PYTHONPATH=C:\PROGRA~1\QGIS3~1

[2022-02-04 17:00] FLO-2DKaren commented on #786
@ldebek
Thanks Lukasz.  That makes sense.  We'll fix it.

@FLO-2DJJ
Hi JJ,  Can you fix this?  I'm sure you can take that line out and it would sort the issue.

[2022-02-04 17:32] FLO-2DJJ commented on #786
OK. I'll put the check of presence of file and emptiness outside
flo2dgeopackage.py, and into the flo2d_parser.py module.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Fri, Feb 4, 2022 at 1:00 PM Karen ***@***.***> wrote:

[2022-02-04 18:00] ldebek commented on #786
Thanks @FLO-2DJJ :) It would be good to move all those checks (from other imports/expors) from flo2dgeopackage.py into the flo2d_parser.py to keep consistency of the source code.

[2022-02-06 22:36] FLO-2DJJ commented on #786
I already deleted or moved all file checks from flo2dgeopackage.py to
flo2d_parser.py
but pushing the plugin into GitHub still fails during the tests.

I made local tests to the changes/extensions to exporting/importing
MULT.DAT and the new SIMPLE_MULT.DAT without problems.

Something else is happening. Do you see the problem Lucasz? Thanks

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@*

[2022-02-07 08:03] ldebek commented on #726
@FLO-2DKaren Could you please add an example project with barrels for import/export testing?

[2022-02-07 17:13] FLO-2DKaren commented on #726
@ldebek
Hi Lukasz,  **Rename this .7z before you extract it.**
[Module 2 Export.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/8017266/Module.2.Export.zip)

[2022-02-23 21:05] #649 closed

[2022-02-23 21:49] FLO-2DKaren opened #788 "SWMM.INP Export"
When we export the *.DAT files into a new folder, the swmm.inp is not written so you always get an error that it is missing.  If the Storm Drain is present and the Storm Drain Switch is on, pop message to run swmm.inp export.

[2022-02-24 22:24] FLO-2DKaren opened #789 "Hazard Mapping"
Apply FEMA method and develop a nice contour system.

[2022-02-25 16:50] FLO-2DKaren opened #790 "RAINCELL Development"
Raincell sampling - remove zero rainfall lines from raincell.dat. (See it with Nate)
Set 16 bit float variables to reduce file size?

These are related or duplicated: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/777, https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/790, https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/819, https://github.com/FLO-2DSoftware/qgis

[2022-02-25 17:15] FLO-2DNoemi commented on #790
@FLO-2DKaren some comments below:

Raincell sampling - remove zero rainfall lines from raincell.dat. Update FLOPRO.exe accordingly.
Set 16 bit float variables to reduce file size? Change to 4 decimals instead of 6.
We need to keep raincell.hdf5 with fix size. Array from 1 to IRINTERS, 1 to NNOD.
Create data files for the alternative methodology:  FLO2DRainCell.DAT and RainCellRaw.dat.

[2022-03-01 14:05] FLO-2DKaren commented on #782
@ldebek informed me that this was not an option.  I'm closing it.

[2022-03-01 14:05] #782 closed

[2022-03-01 15:23] FLO-2DKaren opened #791 "ARF WRF Calculator Bug"
In QGIS Build 3.22, the ARF WRF calculator gives an error when using Blocked Areas.

![image](https://user-images.githubusercontent.com/20424460/156192203-0450020d-1c18-46bf-8069-72f4cbf2c481.png)

This is referencing the is_table_empty function in geopackage_utils.py around line 295.  I think it might be a sqlite query issue.

Here is a project for testing.
https://flo-2d.sharefile.com/d-s1de652a

[2022-03-01 16:03] FLO-2DKaren opened #792 "Correct elevation blocked areas not working"
The correct elevation for blocked areas tool is not working.
![image](https://user-images.githubusercontent.com/20424460/156204393-3a7fbd90-327f-4df9-8bb2-c7e65e27b15e.png)

Here is a test project: https://flo-2d.sharefile.com/d-s1de652a6f6e144a38dfe8502f79de096

No error message.
It doesn't correct the elevation.
Not working in any version of QGIS.
The external method is working but it is slightl

[2022-03-04 13:45] FLO-2DKaren commented on #763
@FLO-2DJJ

Bug Identified
![pump curve bug](https://user-images.githubusercontent.com/20424460/156774327-dd489dc2-eea7-4978-a43d-d0239b266837.gif)

When you make an edit to the pump curve description, it resets the pump data.

[2022-03-04 14:06] FLO-2DKaren commented on #763
Curve Data not being exported.
![image](https://user-images.githubusercontent.com/20424460/156774757-7b809d1e-dc29-420b-9d68-c37d5ff2479c.png)

![image](https://user-images.githubusercontent.com/20424460/156774992-1e8b08fc-9f99-4ac0-b048-d45492771ef1.png)

Update Problem with the Pump Curve Table
![image](https://user-images.githubusercontent.com/20424460/156777417-169154bb-1fbe-4d87-82eb-755bc538

[2022-03-04 14:08] FLO-2DKaren commented on #763
The Pump Curve Data Table starts out with 5 empty rows.

[2022-03-04 15:05] FLO-2DKaren commented on #763
Auto-assign Conduits Nodes
@FLO-2DJJ
We need to update this tool so that it also assigns the pump conduits to the upstream and downstream nodes.

[2022-03-04 15:07] FLO-2DKaren commented on #763
When I reload the Select Components Dialog, the Initial Status unselected.
![image](https://user-images.githubusercontent.com/20424460/156787812-dc7706aa-178a-44cc-be84-0e36b40798c2.png)

[2022-03-07 15:43] FLO-2DJJ commented on #763
- Pump  curve des

Fixed: Pump description and/or type can be changed without resetting data.

[2022-03-07 15:45] FLO-2DJJ commented on #763
Fixed: new pump curve starts with a ( 0.0, 0.0) row. Others can be entered as wished.

[2022-03-07 15:46] FLO-2DJJ commented on #763
Fixed: Initial status field is selected and assigned when reloaded.

[2022-03-11 17:31] FLO-2DKaren commented on #763
We need optional feature for pumps since they aren’t common and most projects will not have them.  I can’t build a storm drain without pumps right now.  That’s a big deal so it needs to be addressed by the end of next week.

Don’t forget to add a Auto-Assign method to the Pumps in out nodes.  You should be able to duplicate Lukasz’s code.  I don’t mind if you simply apply it after the Yes box appe

[2022-03-12 17:17] FLO-2DKaren commented on #763
@FLO-2DJJ

Can you please add a default to the dialog box?  Possible Default Text:
No Pumps
Pumps not present
Pumps not used

![image](https://user-images.githubusercontent.com/20424460/158027921-4f38b5e3-755a-4add-ac00-faab2c055ca0.png)

[2022-03-12 17:20] FLO-2DKaren commented on #763
Initial or Startup dialog settings should be NULL or Not Selected.

Did you change something?
Are you seeing this too?
If you changed something, please use NULL or no selection for the initial state of all tabs on this dialog box.

I am currently doing all of my testing on QGIS 3.24 and 3.25 because I’m looking for future errors.  Let me know if you don't see this in QGIS 3.18.2.
![image](https://

[2022-03-12 17:21] FLO-2DKaren commented on #763
Can you review what is causing the message?
It comes up when I Unselect all Pump Fields.

![image](https://user-images.githubusercontent.com/20424460/158028040-b436cebc-b4e9-4397-b064-9c24329f0671.png)

[2022-03-13 12:27] FLO-2DJJ commented on #763
All items in  issue #763, except for 'Autoasign pump nodes', were corrected.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Sat, Mar 12, 2022 at 1:21 PM Karen ***@***.***> wrote:

[2022-03-15 13:16] FLO-2DJJ opened #793 "SD: export_swmmflort .fetchone() or .fetchall() ?"
Currently is fetchone(). Should it be fetchall() and do something with repeats?
  inlet_type = self.execute(
                    "SELECT intype FROM swmmflo WHERE swmm_jt = ?;", (gid,)
                      ).fetchone()

[2022-03-15 16:44] FLO-2DKaren commented on #781
Another simple bug.

If TOLER.DAT is missing, the import from *.DAT files are not finished.
Add a fatal error for a missing *.dat file.  If one of these files is missing, stop the import with missing error message.
cont.dat
toler.dat
manning_n.dat
topo.dat

![image](https://user-images.githubusercontent.com/20424460/158427959-bed27e2e-feba-4545-9297-212f2a6120d8.png)

[2022-03-17 17:21] FLO-2DKaren opened #794 "SQ Lite Operational Error"
@FLO-2DJJ,

Hi JJ, I'm giving this one to you because it's another easy fix.  My comment below shows how to fix it.

QGIS 3.24 Export Data Files results in the following error.

An error has occurred while executing Python code:

[2022-03-18 09:27] FLO-2DJJ commented on #788
Tested and approved

[2022-03-18 09:27] #788 closed

[2022-03-19 19:46] FLO-2DKaren commented on #794
Changing these two lines will fix this error.
dlg_components.py   line 198  Replace “arfwrf” with “blocked_cells”
flo2dgeopackage.py  line 1972  Replace  “arfwrf” with “blocked_cells”

[2022-03-19 20:31] FLO-2DKaren commented on #763
Resize Dialog icons

You can set it here.  Should be 16 not 25
I would make the change myself but all my changes get overwritten by your commits.

![image](https://user-images.githubusercontent.com/20424460/159137498-7430cf79-ed09-4259-8e17-2b41157883a5.png)

[2022-03-19 20:32] FLO-2DKaren commented on #763
Storm drain Message Update.

Change  “Outfall”  to    “outfall”

![image](https://user-images.githubusercontent.com/20424460/159137513-616ec7fb-ce14-44de-9b6c-191917aecf76.png)

[2022-03-19 20:32] FLO-2DKaren commented on #763
The following message is still confusing.  The people who take the time to read this message are the exact people we don’t want to confuse.  They won’t understand the message and they will think they need to do something.

![image](https://user-images.githubusercontent.com/20424460/159137525-32511af4-bb51-45d1-a3fd-1063a65b10b2.png)

Let’s try this:

Importing Nodes and Links finished!  Or Importi

[2022-03-19 21:11] FLO-2DKaren commented on #781
dlg_flopro.py

debug run also has a bad error code return.

Change line 79 to this:
                    "FLOPRO.EXE debug executed!\n\n"

[2022-03-19 21:16] FLO-2DKaren commented on #793
@FLO-2DJJ
Do you want me to help with this?  I assume it's a comment for Noemi but I can probably help.

[2022-03-19 21:53] FLO-2DJJ commented on #793
That's a comment for myself. I need to see what happens in both cases.

On Sat, Mar 19, 2022, 3:16 PM Karen ***@***.***> wrote:

[2022-03-19 22:10] FLO-2DKaren commented on #792
I think I found the problem.  The request is looking for 1 but the value is true not 1.

`    def elevation_within_arf(self, calculation_type):
        if calculation_type == "Mean":

            def calculation_method(vals):
                return sum(vals) / len(vals)

        elif calculation_type == "Max":

            def calculation_method(vals):
                return max(vals)

        eli

[2022-03-19 22:25] FLO-2DKaren commented on #791
@FLO-2DJJ

Another easy fix.
grid_tools_widget.py
line 694

Change:
            if not self.gutils.is_table_empty("arfwrf"):

To:
            if not self.gutils.is_table_empty("user_blocked_areas"):

[2022-03-20 08:53] FLO-2DJJ commented on #791
I tested the given project in QGIS 3.22 without error.
"arfwrf" is a SQLite view based on table/layer "blocked_cells" not "user_blocked_areas".  Line 694 asks for blocked cells that already exist because they will be overwritten. I think that's correct.

[2022-03-20 14:20] #781 closed

[2022-03-20 19:22] FLO-2DKaren commented on #791
@FLO-2DJJ

I'm using 3.24 and it's not working.

I don't know why sqlite query is checking arfwrf.  There is no such table as arfwrf.

It's probably applied as an alias but not correctly.  It's used in the user_blocked_areas table and the blocked_cells table in two different locations. It's also used in a several definitions.

[2022-03-20 19:23] FLO-2DKaren commented on #791
@FLO-2DJJ , check your QGIS 3.22 python version because it is probably python 3.7 and that's why the query is still working.  QGIS 3.24 is python 3.9.

[2022-03-20 19:38] FLO-2DKaren commented on #764
@FLO-2DJJ
Hi JJ,

I found an issue with the autosave on mult channel system.  It isn't updating the multiple channel tables correctly.

Can you change it to clear all and replace?  If you delete a line, it won't update and the cells will still be written.

[2022-03-20 20:38] FLO-2DKaren commented on #764
The geometric predicate that intersects the grid layer to the polyline layers is probably set to touch or intersect.  We need to use a method where the line crosses the grid.

Here is what we are currently getting when a line touches a corner but doesn't cross a grid.
![image](https://user-images.githubusercontent.com/20424460/159184990-fe141ed1-7d7f-4b02-8b50-eab9b48b9cf9.png)

We should be writi

[2022-03-20 23:03] FLO-2DJJ commented on #764
Hi Karen,

Could you please clarify this issue. What do you mean by "autosave".
Also I see that when you delete a multiple channel line or area in the User
Layers, the intersected cells are also deleted in the Multiple Channel
Cells table (mult_cells). Is this what you mean?

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Sun, Mar 20, 2022 at 3:39 PM Karen ***@***.***> wrote:

[2022-03-21 14:41] FLO-2DKaren commented on #764
This is a comment on the "autosave".  I think what is happening is a sql update.  When you add a polyline to the mult chan user layers, it updates the mult chan tables.  When you delete a line from the user layers, it does not remove the mult chan cells.  It applies to both mult and simple mult.

[2022-03-21 20:24] FLO-2DJJ commented on #764
@Karen OBrien ***@***.***> I see what you mean.  The "delete
selected" doesn't work for simple multiple channel lines.
But it works for area multiple channels and line multiple channels. The
problem is only with the simple mult channels. I'll see what's happening.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Mon, Mar 21, 2022 at 10:57 AM Karen ***@***.***> wrote:

[2022-03-23 13:17] FLO-2DKaren commented on #794
This one is still broken:
![image](https://user-images.githubusercontent.com/20424460/159708234-6dccd9c8-72af-4570-b5e9-428117fefeb2.png)

[2022-03-23 13:23] FLO-2DKaren commented on #794
@FLO-2DJJ
This is just another calling of arfwrf where it should be set to a table.  This one is a little odd.  Maybe it should be checking blocked_areas or user_blocked_areas.

File: grid_tools_widget.py
Line 694

Change this line:
            if not self.gutils.is_table_empty("arfwrf"):
to this:
            if not self.gutils.is_table_empty("user_blocked_areas"):

[2022-03-23 13:57] FLO-2DJJ commented on #794
It should be 'blocked_areas'. I'll fix it for the next commit.

On Wed, Mar 23, 2022, 7:23 AM Karen ***@***.***> wrote:

[2022-03-24 13:39] FLO-2DKaren opened #795 "Outfall Fixed Depth not written"
@FLO-2DJJ

Hi JJ,
If I try and set a Fixed head on an outfall, it isn't being written to swmm.inp.

![image](https://user-images.githubusercontent.com/20424460/159927579-81da904a-445a-4a83-b410-a51ea8b6fbe0.png)

The value should be written right here in the red box.

![image](https://user-images.githubusercontent.com/20424460/159927728-5aa0b9fa-a14e-4eda-b052-75b344b234d3.png)

It is a Stage not

[2022-03-25 13:44] FLO-2DKaren commented on #765
Current method OK for these variables.  No change required.

Soil Layer:
Hydraulic conductivity
Soil depth

Land Use Layer:
IA
VC
InitSat

[2022-03-25 13:48] FLO-2DKaren commented on #765
New Method RTIMP

EFF - Intersect to soil to grid layer.  Store result   Area weighted EFFgrid* 0.01.

New Layer:
Intersect Soil and Land Use
Result:  Max(Rockout, RTIMPlu) = RTIMPmax

Final Calc
Intersect (RTIMPmax, Grid)*EFFgrid

[2022-03-25 16:19] FLO-2DKaren commented on #765
Take care with the moving window code.  It works and speeds up the process significantly.
Review code session with Nate to id the code lines that are isolated for the moving window.

[2022-03-25 20:24] FLO-2DKaren commented on #792
Test this one by checking the grid element elevation inside a Blocked Areas polygon.  All cell elevations inside the polygon should be the same.

[2022-03-25 20:44] FLO-2DKaren opened #796 "Return Code Run FLO-2D"
JJ Deleted the message.  Test on two or three computers.

[2022-03-25 20:46] FLO-2DKaren commented on #796
Working now on Gaming PC

[2022-03-25 20:48] FLO-2DKaren opened #797 "Missing File Import Issue"
If toler.dat is missing, an error related to grid cell size comes up on QGIS and cont.dat won't load.

Simple fix

If the follwoing are missing, give a missing file warning and stop the import

cont.dat
toler.dat
topo.dat
manning_n.dat

[2022-03-25 20:51] FLO-2DKaren commented on #797
Fixed

[2022-03-25 20:51] #797 closed

[2022-03-25 20:53] FLO-2DKaren opened #798 "Duplicates mult.dat and simplemult.dat"
There was a problem where if a more than one line intersected a cell, the grid element was duplicated.  JJ fixed this.  Needs testing.

[2022-03-25 21:05] FLO-2DKaren opened #799 "Mult lines and Simple Mult Lines Error"
If I try and copy a line from Simple mult line into mult line, the line disappears.  The table is updated but the line disappears.

JJ can look for a Clear Geometry or any trigger that might be clearing his table.

Karen needs to build a clean dataset for testing.

[2022-03-26 00:33] FLO-2DKaren commented on #799
@FLO-2DJJ Hi JJ,  This test is very easy.  You can do it on any project.

Start edit on Mult Chan Line.
Make new Line
Save and stop editing.
Start editing
Modify current line (Node tool or attribute)
As soon as you modify the line, it disappears from the map and from the attribute table.

Here is a video.
https://transcripts.gotomeeting.com/#/s/2b58bf1de405268b415d8dd1e3c0866844d2eb429f49fc6560fa4

[2022-03-26 00:36] FLO-2DKaren opened #800 "Combined Mult.dat and SimpleMult.dat Redundant Issue"
@FLO-2DJJ

If the simple mult line touches the same cell as the mult line, it will be listed in both data files.
**Mult.DAT is the priority**  remove the redundant grid from simple_mult.dat.

![image](https://user-images.githubusercontent.com/20424460/160217466-b09ccbdd-f7c2-4543-ba2b-f0d5922be0f4.png)

In the following image.  Mult line is Red.  Simple Mult line is Yellow.

![image](https://user-

[2022-03-26 00:42] FLO-2DKaren commented on #800
Video: https://transcripts.gotomeeting.com/#/s/8ea1014c7ad9cfea08d661c309f3b7e2cbce2b63a48534a8e78726ac9e54eff2

Data:  https://flo-2d.sharefile.com/d-s68b02154387a490fa848cf56b94af903

[2022-03-26 00:56] FLO-2DKaren opened #801 "Dask and Distributed Missing"
If you try and click this button, you will get a fail message.
![image](https://user-images.githubusercontent.com/20424460/160217830-90cd13fc-628e-4abd-bcae-08fa4ddb4e8b.png)

It requires DASK and DASK Distributed python modules.

Try the following:
Run as Admin  OSGEO4W Shell
commands:
o-help
pip install dask
pip install dask distributed --upgrade

[2022-03-26 00:57] FLO-2DKaren commented on #801
If the pip command don't work, contact me.  You probably have too many pythons installed and the paths are getting mixed up.

[2022-03-26 00:58] FLO-2DKaren commented on #801
Here's a video: https://transcripts.gotomeeting.com/#/s/9f8e9575d6a71745a742998cc74c5e2e4cdf0ad1de50d6e713f499b01cafba78

[2022-03-26 00:59] FLO-2DKaren commented on #801
@FLO-2DJJ We can probably post these instructions in the Error Message.

[2022-03-26 00:59] #798 closed

[2022-03-26 01:02] FLO-2DKaren commented on #795
@FLO-2DJJ
Don't forget.  That variable is a Stage not a Depth.  You need to change the label for it.

[2022-03-26 02:18] FLO-2DNoemi commented on #793
Ok, let me know if this is related to a bug so I can help you.

On Sat, Mar 19, 2022 at 5:53 PM Juan Jose ***@***.***> wrote:

[2022-03-26 14:49] FLO-2DNoemi commented on #795
JJ,

This is a mistake. It should be *Fixed stage*: water elevation for a fixed
type of boundary condition (ft)

On Sat, Mar 26, 2022 at 10:18 AM Juan Jose ***@***.***> wrote:

[2022-03-26 15:01] FLO-2DJJ commented on #800
Issue fixed. @FLO-2DKaren please test it and close it.

[2022-03-26 21:22] FLO-2DKaren commented on #800
Tested no redundant cells.

[2022-03-26 21:22] #800 closed

[2022-03-26 21:23] FLO-2DKaren commented on #799
@FLO-2DJJ
I did confirm this test on a clean model.  It is still failing.  You can use my process above to test your own data.

[2022-03-26 21:30] FLO-2DKaren commented on #794
Test complete.

[2022-03-26 21:30] #794 closed

[2022-03-26 21:31] FLO-2DKaren commented on #791
Test Complete

[2022-03-26 21:31] #791 closed

[2022-03-26 21:32] FLO-2DKaren commented on #792
@FLO-2DJJ This one is still broken.

[2022-03-26 21:54] FLO-2DKaren commented on #775
@FLO-2DJJ
I understand why you think this is correct.  It is because you are saving the global data as a default.  That is also wrong.

The default of this switch should be unchecked.
![image](https://user-images.githubusercontent.com/20424460/160258297-9e1b8070-e3c5-4eb4-9f8c-f8d0a1769804.png)

The individual breach data file should look like this:
![image](https://user-images.githubusercontent.c

[2022-03-26 21:55] FLO-2DKaren commented on #775
Video Example: https://transcripts.gotomeeting.com/#/s/34b54106d19bf93c73743817846f66c1d73e5b4f9205d96edcd8c17c27a6f52e

[2022-03-26 22:15] FLO-2DJJ commented on #775
Thanks Karen for the recording.
I see your point now. I got the error now. I'll fix it.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Sat, Mar 26, 2022 at 5:55 PM Karen ***@***.***> wrote:

[2022-03-26 23:15] FLO-2DJJ commented on #775
@FLO-2DKaren The B2 problem is solved in the new plugin.
It works with"Use global breach data" checked or not. The default is now unchecked, but need to create a new geopackage since the default is set there.
Please test it again.

[2022-03-27 09:52] FLO-2DJJ commented on #760
Fixed: message removed. Tested.

[2022-03-27 09:52] #760 closed

[2022-03-27 10:01] FLO-2DJJ commented on #795
Fixed and tested.

[2022-03-27 10:01] #795 closed

[2022-03-28 10:34] FLO-2DJJ commented on #792
@FLO-2DKaren

Line 374 changed (request is now None):

        # request = QgsFeatureRequest().setFilterExpression('"calc_arf" = 1')
        request = None
        for fid, parts in poly2poly(self.blocked_areas, self.grid, request, False, "fid", "elevation"):

Look Ok to me now. See it and close issue if you agree.

[2022-03-28 12:02] FLO-2DJJ commented on #763
@FLO-2DKaren

I think all or most of the issues here are solved. Could you check them?

In the future is a good idea to have separate issues #xxx,  one for each, instead of several fixes in one issue. So each issue is closed when solved and there is no need to wait for the others to close the whole bunch.

[2022-03-28 12:41] FLO-2DJJ opened #802 "Hydraulic Structures Editor: allow table editing but skip some plots"
Allow table editing but skip plots for rating curves, culvert eq. , and bridge routine.
There are error messages when editing table for rating curve and culvert equation.
Rating table is ok.
For bridge routine just clear table and plot.

[2022-03-31 14:53] FLO-2DKaren commented on #763
@FLO-2DJJ The only test that remains is the test without pumps.  I will get to that today.

[2022-03-31 17:46] FLO-2DKaren commented on #779
Wall height vs Crest Elevation
Calc wall height from grid and correction field

[2022-03-31 17:47] FLO-2DKaren commented on #779
Test 3D import method.

[2022-03-31 17:48] FLO-2DKaren commented on #779
Failure images from Elizabeth.
![image](https://user-images.githubusercontent.com/20424460/161118107-32053303-2d71-4695-85ed-98b03b6f7f4a.png)

![image](https://user-images.githubusercontent.com/20424460/161118160-a05c2de3-a442-4836-a8db-59721a20b174.png)

[2022-04-02 17:04] FLO-2DKaren opened #803 "Rating Table Warning Error"
@FLO-2DJJ

Hi JJ,  I got this error when I used the load rating table button.

![image](https://user-images.githubusercontent.com/20424460/161393416-5b2ce2c1-7ee2-40af-adf7-53ec235d71be.png)

The problem is that the code is trying to write the rating table warning text file to the Last SWMM Directory.  I deleted that directory before I clicked the button.

I think if we set the variable to last_di

[2022-04-02 17:22] FLO-2DKaren opened #804 "Update message storm drain"
@FLO-2DJJ

Change Outfall to outfall

![image](https://user-images.githubusercontent.com/20424460/161394115-7fcab5e2-9c7a-4396-96c3-176419a119be.png)

[2022-04-02 17:25] FLO-2DKaren commented on #804
storm_drain_editor_widget.py

Line 464

        if self.schematize_inlets_and_outfalls():
            self.uc.show_info(
                "Schematizing Storm Drains finished!\n\n"
                + "The storm drain Inlets, **outfalls,** and/or rating tables were updated.\n\n"
                + "(Note: The ‘Export Data Files’ tool will write the layer attributes into the SWMMFLO.DAT, SWMMFLORT.DAT,

[2022-04-02 17:58] FLO-2DKaren opened #805 "Save swmm.inp redirect"
@FLO-2DJJ

Hi JJ,  There is a problem with the Last SWMM directory.  It is being set for a wrong path when the user uses the GDS export.  I think we can fix it if we set the last_dir to FLO-2D/project_directory

storm_drain_editor_widget.py

Line 1538
            last_dir = s.value("FLO-2D/project_dir", "")

The problem I am seeing is that my end users are not resetting the directory when they try

[2022-04-02 19:29] FLO-2DKaren opened #806 "inp_groups.ui parameter"
@FLO-2DJJ

Can you update this file? There was a squished label that wasn't showing correctly.  I corrected it in this file.
[inp_groups.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/8403250/inp_groups.zip)

[2022-04-03 00:10] FLO-2DJJ commented on #804
Fixed. Issue may be closed.

[2022-04-03 00:13] FLO-2DJJ commented on #806
Updated. Other changes and fixes to dialog via Qt Designer. Issue may be closed after testing.

[2022-04-03 00:16] FLO-2DJJ commented on #805
Fixed. Path now is redirected to latest GDS directory as in:
last_dir = s.value("FLO-2D/lastGdsDir", "")
Issue may now be closed.

[2022-04-03 09:27] #805 closed

[2022-04-04 23:53] FLO-2DKaren opened #807 "Skip Orifices if not present"
@FLO-2DJJ
Can you add some code to skip writing the ORIFICES in the swmm.inp if the tables are empty or not present.

I want to keep working with this plugin and not go backward but I know you aren't finished with the ORIFICE code.

![image](https://user-images.githubusercontent.com/20424460/161651479-7e22deff-2537-42f9-8aa6-f66423eb7269.png)

[2022-04-04 23:54] FLO-2DKaren commented on #805
Tested

[2022-04-04 23:55] FLO-2DKaren commented on #804
Tested

[2022-04-04 23:56] FLO-2DKaren commented on #806
tested

[2022-04-04 23:56] #806 closed

[2022-04-04 23:56] #804 closed

[2022-04-04 23:58] FLO-2DKaren commented on #803
@FLO-2DJJ
Did you miss this one?  It is similar to another one.

[2022-04-04 23:59] FLO-2DKaren commented on #792
Tested

[2022-04-04 23:59] #792 closed

[2022-04-05 00:00] #775 closed

[2022-04-06 09:14] FLO-2DJJ commented on #803
@FLO-2DKaren
The Warnings.CHK file is written to the same directory where the rating tables are being loaded from.
So, the directory exists at that same moment.
I could not reproduce the error.
Could you guide me?

[2022-04-06 13:50] FLO-2DNoemi commented on #803
Hi JJ  and Karen,

The best place to write the CHK file is the project directory.

On Wed, Apr 6, 2022 at 5:15 AM Juan Jose ***@***.***> wrote:

[2022-04-06 15:24] FLO-2DKaren commented on #803
At this stage, the project directory may not be available.  It is a pre-run
process so there may not be a project run folder available.

[2022-04-06 16:44] FLO-2DKaren commented on #803
@FLO-2DJJ I can give you some guidance.

To get this to fail, follow these steps.
1. export inp to a location that is different from the rating tables file.
2. delete that folder that you just exported to (this simulates moving to another project)
3. Try and load the rating tables.

[2022-04-06 20:03] FLO-2DJJ commented on #803
Thanks Karen, I followed your suggested steps and still don't get the
error. The 'Rating Table Warnings.CHK' is created in the folder of the
rating tables.

?

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Wed, Apr 6, 2022 at 12:44 PM Karen ***@***.***> wrote:

[2022-04-06 21:02] FLO-2DKaren commented on #803
@FLO-2DJJ OK let's fix it when we see the error again. Maybe you sorted that variable when you made  the other change for me.

[2022-04-07 18:18] saberraz commented on #765
Needs further discussions to better understand the requirements.

[2022-04-07 18:19] saberraz commented on #779
Needs further discussions to better understand the requirements.

[2022-04-07 21:33] FLO-2DKaren opened #808 "Python Warnings"
The Python Warnings Message log has several issues.
I think most of these are related to python 3.9 vs python 3.7.
@vcloarec
Can you review this on your system and see if you can fix these.  You might see different ones because you are using a different QGIS.

2022-04-07T17:08:54     WARNING    warning:C:\Users/FLO-2D GPC/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\crayfish\gui\plot

[2022-04-07 21:36] FLO-2DKaren opened #809 "Window won't dock"
@vcloarec

Vincent,  can you please review the dock  widget commands in flo2d.py?  I undocked my grid info widget and now it wont return to a docked status.  I wonder if I can clear the cache of something to get it to the default dock position?

I undocked it and then clicked the Close Window button on the widget.

![image](https://user-images.githubusercontent.com/20424460/162324016-59153fc1-6b8a

[2022-04-08 12:06] FLO-2DKaren commented on #765
EFF requirement

New group for these layers.
![image](https://user-images.githubusercontent.com/20424460/162270919-f892d8f9-5878-48d7-b720-68691d423859.png)

New EFF Areas user layer goes in this group.
New EFF Calculator goes on the Infiltration Widget.

Isolate the Maricopa County Method
![image](https://user-images.githubusercontent.com/20424460/162271222-5e10f40b-a182-433a-a7af-818c2b5521e5.pn

[2022-04-08 12:54] FLO-2DKaren commented on #786
@vcloarec Hi Vincent,  We have a lot of skipped tests in our system.  I would like a little help with these.  I don't want you to fix them.  I want you to go over a few of them with us and we can fix them.

[2022-04-12 14:06] vcloarec opened #810 "unable to load a project"
When loading a project, there are some warnings, then a python error occurs:

![image](https://user-images.githubusercontent.com/7416892/162980571-f8c5542b-b982-4e3c-98a9-1c5f97fac86d.png)

[2022-04-12 14:25] vcloarec commented on #810
@FLO-2DKaren , I am trying to load the files from:
https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/780
and
https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/770

[2022-04-12 14:34] FLO-2DKaren commented on #810
@vcloarec
Did you try to build a blank geopackage and then import the old gpkg file into the new one?

[2022-04-12 14:50] vcloarec commented on #810
ok, it works with data in #780 (but not with #770)

[2022-04-12 14:55] FLO-2DKaren commented on #810
The import into blank gpkg doesn't work with 770?
OK I was aware that some of the data wasn't importing.  Maybe we can study where it gets stuck and see a way to fix it.

I don't know which table it's getting stuck on.  Is there a way to modify the import report so we could see more detail?

[2022-04-12 15:45] FLO-2DKaren commented on #810
@FLO-2DJJ
You should be importing the old gpkg not the *.dat files.  I only say this because there is a bug in that import gpkg tool and sometimes the data won't load.  If you use that as el modus operandi, you will find that when an old gpkg file won't load into a blank file, you can understand why and fix it.  I was going to bring this up with you anyway but I was waiting for us to finish a few

[2022-04-12 15:46] FLO-2DKaren commented on #810
@FLO-2DJJ FYI, the project that Vincent is working on it just QGIS Lesson 1 data so it's super easy to fix.  I already posted a link that can load into the latest plugin.

[2022-04-12 21:19] vcloarec commented on #780
@FLO-2DKaren , a naive question. Why not considering only the factor value in all tables and import/export in any case.

That is, when sampling the rainfall, instead of recording the depth value, maybe it is better to calculate de factor before recording it in the "Rain ARF Cells" table ?

[2022-04-13 13:44] FLO-2DKaren commented on #780
@vcloarec,

Rainarf is a ratio of the value at the cell over the max of all values in the cell.  So if you wanted to do it the way you are suggesting, you would need to use zonal statistics on the raster to get that max value so you could calculate the ratio rainarf on the fly.   I was just trying to come up with the easiest solution that could be fixed fast.

[2022-04-14 14:09] #770 closed

[2022-04-14 14:31] FLO-2DKaren commented on #780
Tested and approved

[2022-04-14 14:45] FLO-2DNoemi opened #814 "Structures Editor - Culvert of Conduit Width"
In the structures editor, Culvert of Conduit Width should be changed to **_Circular diameter or box culvert height_** . This needs to be updated.

The  Culvert of Conduit width is actually the CuBase in the FLO-2D Table Editor.

[2022-04-14 15:25] FLO-2DKaren commented on #780
oops closed this too soon.

[2022-04-16 17:45] FLO-2DKaren commented on #770
Tested and working correctly.

[2022-04-16 17:49] FLO-2DKaren commented on #808
@FLO-2DKaren
Test this at home.

[2022-04-16 17:51] FLO-2DKaren commented on #786
Note::  I think these failed and skipped tests might help us understand why an old gpgk won't import into a new gpkg so I think it's important to get the skipped tests working.

[2022-04-25 19:56] FLO-2DJJ commented on #799
@FLO-2DKaren an updated plugin merged into GitHub solves this problem.
(Need to create a new project for changes made to triggers in db_structure.sql )

[2022-04-25 21:45] FLO-2DKaren commented on #799
@FLO-2DJJ OK thanks JJ.  I'll get back to testing tonight.

[2022-04-26 12:38] FLO-2DJJ commented on #783
Hi @FLO-2DKaren, Could you confirm that this is an issue with new projects?
The error occurs in the geopackage of the project you linked on Jan 13, but I could not reproduce it in new projects.

In any case, the error occurs in rutine 'delete_levee_directions_duplicates_np' lastly modified by Luckasz Debek on 03-28-2021

[2022-04-26 15:12] FLO-2DKaren commented on #783
@FLO-2DKaren
Needs a new test project.

[2022-04-26 15:51] FLO-2DKaren commented on #765
@FLO-2DKaren rebuild lesson 1 and update for Vincent.

[2022-04-26 16:05] FLO-2DKaren commented on #809
Tested fixed.

[2022-04-26 16:15] FLO-2DKaren commented on #765
@vcloarec

Hi Vincent.  I just made this project for you.

https://flo-2d.sharefile.com/d-sa6587132e03a47468135d6806b92e7f6

The current infiltration instructions are here:
https://documentation.flo-2d.com/Workshops/Lesson%201%20Part%203.html#step-7-assign-infiltration

[2022-04-26 16:18] FLO-2DKaren commented on #779
@vcloarec
Hi Vincent,
This project is the exact one I sent for Infiltration.  So if you already downloaded it, you can ignore this link.
https://flo-2d.sharefile.com/d-sa6587132e03a47468135d6806b92e7f6

The current wall / levee instructions are here:
https://documentation.flo-2d.com/Workshops/Lesson%204.html#step-3-assign-walls

The wall data is in the first link.

[2022-04-26 16:26] FLO-2DKaren commented on #783
@vcloarec

Hi Vincent,

Here is a new test project and it still fails.
https://flo-2d.sharefile.com/d-sc521a73e03f047a0a5eb2bbf4fdb5a3c

[2022-04-26 19:13] FLO-2DKaren commented on #780
Testing Complete Fixed

[2022-04-26 19:13] #780 closed

[2022-04-26 23:13] FLO-2DKaren commented on #799
The mult line stays in place now.  I will now continue the testing on using mult lines and simple mult lines.  I'm closing this issue and if something comes up, I'll enter it under a different issue.

[2022-04-26 23:13] #799 closed

[2022-04-28 03:16] FLO-2DKaren opened #816 "Mult Chan Geometric Predicate"
@FLO-2DJJ

JJ can you please correct the geometric predicate on the intersection.

The geometric predicate that intersects the grid layer to the polyline layers is probably set to touch or intersect.  We need to use a method where the line crosses the grid.

Here is what we are currently getting when a line touches a corner but doesn't cross a grid.
![image](https://user-images.githubusercontent.c

[2022-04-28 11:10] FLO-2DJJ commented on #816
Ok. Got it. Will do it.

[2022-04-28 19:14] vcloarec commented on #779
If I understand well, here, it is when user import the levee line from the "Wall" vector layer. So it is just a copy of the feature from the "Wall" vector layer to the "Levee" user layer, with the copy attributes values from Wall fields to Levee fields.
In that case, I think it is is useless to use the moving windows algorithm, there is no gain to use it here. Moreover, this add a level of complex

[2022-04-29 02:45] FLO-2DKaren commented on #779
@vcloarec

I think it should only be in the schematize part but maybe run an index before the copy because there are lots of lines to copy on a big project.

[2022-04-29 12:50] FLO-2DJJ commented on #816
@FLO-2DKaren , I merged commits to the master plugin that uses the ST_Crosses predicate (instead of ST_Intersects) in triggers (in db_structure.sql)  that creates the cells that intersects (now crosses) the multiple channels and simple multiple channels.
See:
....ST_Crosses(CastAutomagic(g.geom), CastAutomagic(NEW.geom))

To test it you need to create a new project with the new database definition

[2022-04-29 17:35] #783 closed

[2022-04-29 18:34] vcloarec commented on #779
@FLO-2DKaren
#818 could fixes some issues described here, but do not fill all the requirements described here. That why I wrote "work in progress" (WIP).

[2022-04-29 19:02] FLO-2DKaren commented on #779
@vcloarec
Okay Dokie.

I will be testing Storm drain and Mult chan stuff this weekend.  I'll also be updating documentation.  I wasn't planning to test your stuff but I did merge it simply to see if it causes any issues during my other testing.

I hope to have everything wrapped up by June 1 so the District has 1 month to do their own validation stuff.

I won't be processing a release until then b

[2022-04-29 19:03] FLO-2DKaren commented on #779
The merge closed this so I'll just reopen it.

[2022-04-30 00:43] FLO-2DJJ opened #819 "Write/Read RAINCELL.DAT with only values greater than zero"
1. - [ ] For each time series always write/read first and last cells AND in between only cells with values greater than zero. The idea to write the first and last cells is to determine beginning/end of each time series. And to reduce the size of the file by only having rows of cells with values greater then zero. Explore other possible solutions.
2. - [ ] Could this affect the writing of binary HD

[2022-04-30 00:48] FLO-2DJJ opened #820 "Rearrange user interfaces for writing of RAIN.DAT, RAINCELL.DAT and binary HDF"
To accomplish this explore the different combinations of checkboxes, buttons, existence of rain layers, CONT.DAT dialog, rain Editor widget, etc.

These are related or duplicated: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/777, https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/790, https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/819, https://github.com/FLO-2D

[2022-04-30 00:58] FLO-2DNoemi commented on #820
@Juan Jose Rodriguez ***@***.***> we do not really need to change the
RAIN.DAT file.

The idea is to create the RAINCELL.DAT or RAINCELL.HDF5 separately from the
DATA Files Export option.

Now the RAINCELL.DAT is always created when you export the DAT files, this
file is huge and many times the user does not need it because the
RAINCELL.HDF5 is the file that is used.

On Fri, Apr 29, 2022 at 8:48

[2022-04-30 01:37] vcloarec commented on #779
Looking at the code, and it seems (not tested) that the current behavior is the one described above, but maybe I have misunderstood.
Regarding to the levee line user layer, the current behavior is:
- if there is a value in "elev" and **no** value in "correction": the crest elevation is "elev"
- if there is a value in "elev" and a value in "correction", the crest elevation is "elev" + "correction"

[2022-04-30 09:18] FLO-2DJJ commented on #807
Close issue. Similarly, the potential problem was solved for pumps and weirs.

[2022-04-30 09:18] #807 closed

[2022-04-30 12:50] #814 closed

[2022-04-30 12:54] FLO-2DJJ commented on #814
Was closed because the label was changed according to the requested change

[2022-05-01 12:07] FLO-2DJJ commented on #819
Overlaps issue #790

[2022-05-02 13:34] FLO-2DJJ commented on #802
This is issue was fixed. @FLO-2DKaren , @FLO-2DNoemi please tested before close it.

[2022-05-02 14:51] FLO-2DKaren commented on #779
@vcloarec

Hi Vincent

So I want the wall to be like number 3 in your table.  Wall crest will be NULL and the Correction will be a height.  But the crest elevation will be the highest grid elevation + correction.  That is the difference.  Highest grid elevation is the max of the elevation on either side of the levee.  It is based on the cell on either side of the red levee line.  That's where the

[2022-05-02 17:00] vcloarec commented on #779
@FLO-2DKaren , ok I got it.
Other question: do you want this behavior only for wall or for all levee? If first, it seems to me more difficult.

[2022-05-02 17:26] FLO-2DKaren commented on #779
@vcloarec
All levees please.  I don't think isolating the walls will be necessary.  I'll just modify the instructions so it's clear there.

[2022-05-02 20:59] vcloarec commented on #779
@FLO-2DKaren , can you clarify this point?

[2022-05-02 21:09] FLO-2DKaren commented on #779
@vcloarec

Thanks for asking.  We didn't discuss this in our meeting because I forgot about it and missed it on the list.  Look at the levee.dat file export.  The L line used to have duplicate D lines under them but we added code to take them out.  I believe that  I identified the code a few comments up.  I just want you to apply the same Duplicate removal to the W lines that are under the F lines

[2022-05-02 21:21] vcloarec commented on #779
@FLO-2DKaren , I can't reproduce this issue with the project that you had shared with me.

[2022-05-02 21:23] FLO-2DKaren commented on #779
@vcloarec I shared 2 projects with you.  One has Walls and the other one doesn’t.  It should be the one with the walls.

[2022-05-02 21:34] vcloarec commented on #779
@FLO-2DKaren , hmmm, the one with the walls works fine. But this one has only 4481 grid cells, and the results you expose has a grid number of 34117, so maybe not the same.

[2022-05-02 21:36] FLO-2DKaren commented on #779
I’m on that meeting if you want to look at it together.

https://global.gotomeeting.com/join/588412037

[2022-05-02 21:38] FLO-2DKaren commented on #779
@vcloarec If you clipped the levee lines, you might have fixed it a different way.   It may not have as many levees calculated.  In that case, I'll just need to vigorously test it to make sure the wall  calculations are good.

[2022-05-02 21:41] vcloarec commented on #779
yes, It was also my though...

[2022-05-02 21:42] vcloarec commented on #779
I am not available for meeting now...

[2022-05-03 13:48] FLO-2DNoemi opened #822 "Subset timeseries - TIMDEP"
Subset timeseries already implemented in the executable. We need to add this change to the plugin.

        ITIMTEP,TIMTEP**,STARTIMTEP,ENDTIMTEP**
        IF(ITIMTEP.EQ.11)ITIMTEP=1
        IF(ITIMTEP.EQ.21)ITIMTEP=2
        IF(ITIMTEP.EQ.31)ITIMTEP=3
        IF(ITIMTEP.EQ.41)ITIMTEP=4
        IF(ITIMTEP.EQ.51)ITIMTEP=5

EXE is compatible with previous versions of CONT data file without the start

[2022-05-03 19:40] FLO-2DKaren opened #824 "Groups"
@vcloarec

Can you make these groups?

![image](https://user-images.githubusercontent.com/20424460/166553341-a22984dd-e366-4b82-920e-96aaef95ad87.png)

[2022-05-03 19:41] FLO-2DKaren commented on #824
If you make those, I can clean them up at my convenience.  I just didn't know how to use subgroups.

[2022-05-04 12:49] FLO-2DKaren commented on #824
Putting a pause on this.

[2022-05-10 14:16] FLO-2DKaren commented on #779
@vcloarec
Vincent, I'm testing the levees but I don't think the crest elevation is working correctly.  Did you merge the code that applied the wall elevation from the grid + correction?

[2022-05-10 18:13] vcloarec commented on #779
it works on my side, can you share your project and tell me where is the problem?

[2022-05-10 18:34] FLO-2DKaren commented on #779
Here's what I'm applying in the Calculate Walls to Levees
![image](https://user-images.githubusercontent.com/20424460/167698405-6b86c0ef-b131-4f61-8a1f-c566856eed33.png)

[2022-05-11 00:26] vcloarec commented on #779
@FLO-2DKaren , indeed ! fixed by https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/pull/825

[2022-05-11 11:41] FLO-2DKaren commented on #779
@vcloarec

Hi Vincent,

I just got the new code and resumed testing.  The levee fail duplicate error is still happening.  Can you look at the code that removes the duplicates from the Schematic/Levees table and apply it to the Levee Failure Table.

![image](https://user-images.githubusercontent.com/20424460/167841005-d858dd3c-9904-4b90-b52e-547587e13894.png)

[2022-05-11 11:48] FLO-2DKaren commented on #765
@vcloarec

Now that you have isolated the EFF, how is it to be applied?  I think we need an EFF button here.

![image](https://user-images.githubusercontent.com/20424460/167842566-c65deb80-ace9-4fbe-9527-288187daaf7d.png)

[2022-05-11 11:50] FLO-2DKaren commented on #765
@vcloarec
The final piece of the Infiltration Puzzle:  This still needs to be accomplished.

New RTIMP Method:
Intersect Soil and Land Use
Result: Max(Rockout, RTIMPlu) = RTIMPmax

RTIMPgrid = Intersect(RTIMPmax, Grid)

[2022-05-11 12:34] vcloarec commented on #765
@FLO-2DKaren
The EFF is applied when you launch "Calculate Green-Ampt", the value in the layer "Area Green Ampt" take account of EFF.

The new RTIMP method is implemented in https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/pull/823

[2022-05-11 12:44] FLO-2DKaren commented on #765
@vcloarec Yes I'm just realizing this over the past 30min.  Testing is going well.  I still need to test it on a large project.  Sorry for the dumb comment.  I should just didn't see any comment about the new method.

[2022-05-11 13:19] vcloarec commented on #779
@FLO-2DKaren , very sorry but I can't reproduce the duplicate levee failure, and I don't see any reason for these duplicate. I am using the project you gave me here:https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/issues/779#issuecomment-1109992388

[2022-05-11 13:26] FLO-2DKaren commented on #779
@vcloarec

Can you please try this?  Run a field statistic on the Levee Failure Table and then see if the Majority value has more than 3 or 4 listings in the ifaildir field.

![image](https://user-images.githubusercontent.com/20424460/167860347-d24a31cb-49d9-42f5-80d2-ff80d257335f.png)

**My cell size is 30**.  Make sure your cell size is 30 too.  I just noticed that one of my projects was acciden

[2022-05-11 13:28] FLO-2DKaren commented on #779
[Wall Failure Duplicate Project.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/8670321/Wall.Failure.Duplicate.Project.zip)

@vcloarec Here's my project.

[2022-05-12 16:24] vcloarec commented on #779
@FLO-2DKaren this should fix the duplicate: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/pull/826

[2022-05-12 17:56] FLO-2DKaren commented on #779
@vcloarec
Hi Vincent,
Can you please check one more thing for me?  I think we are getting really close.  I am not getting the WallHeight to be assigned to the correction field when I add walls to the levee lines.

![image](https://user-images.githubusercontent.com/20424460/168138575-4ca91827-53cb-4371-99b2-33d23cb5d7a2.png)

![image](https://user-images.githubusercontent.com/20424460/168138718-515

[2022-05-12 17:57] FLO-2DKaren commented on #779
[Walls.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/8681549/Walls.zip)
Here's the shapefile I'm using.

[2022-05-19 08:42] FLO-2DJJ opened #827 "Sediment Transport: add functionality for polygons for Supply Areas, Regid Bed Areas, and Mud Areas"
Geometric layers already exist for building Supply Areas, Regid Bed Areas, and  Mud Areas polygons.

- [x] Need to intersect polygons to grid.
- [x] Read, save, and edit resulting cells in Sediment Transport dialog.
- [x] Correlate resulting intersected cells with Sediment Supply Rating Curves and Mud Debris Basin Parameters wherever required.
- [x] Review import/export SED.DAT

[2022-05-20 14:57] FLO-2DKaren commented on #779
All OK in QGIS 3.22.  Tested on Big Wall Test.
https://flo-2d.sharefile.com/d-s44b21a037b304940b9304713920a54f4

[2022-05-20 17:58] FLO-2DKaren commented on #816
@FLO-2DJJ
Hi JJ,  This is still broken because the update code isn't correct.  Both mult and simple mult probably need fixed.

`CREATE TRIGGER IF NOT EXISTS "find_cells_mult_line_insert"
    AFTER INSERT ON "mult_lines"
    WHEN (SELECT enabled FROM trigger_control WHERE name = 'find_cells_mult_line_insert') AND (NEW."geom" NOT NULL AND NOT ST_IsEmpty(NEW."geom"))
    BEGIN
        DELETE FROM "mu

[2022-05-20 18:34] FLO-2DJJ commented on #816
I'll look into it.

On Fri, May 20, 2022, 1:58 PM Karen ***@***.***> wrote:

[2022-05-20 18:54] FLO-2DKaren commented on #765
Notes for large project testing.
4 million cells = 11 min to create grid
Infiltration calc started at 2:41.  I don't see the moving window in action.  I don't see the tracker.  Maybe these would be good additions.

[2022-05-20 19:20] FLO-2DKaren commented on #765
Restart test at 3:20.  Ran spatial Index on landuse and soil layer first.

[2022-05-20 21:22] FLO-2DKaren commented on #765
@vcloarec
The Rtimp Grid calculation is still not applied correctly.  The current method is calculating the rtimp soil for a grid element and rtimp landuse for a grid element and then taking the max of those values.

It is supposed to calculate rtimp max parts between the soil and landuse layer and then intersect that to the grid to calculate a weighted average.

So it looks like this

rtimpparts

[2022-05-20 21:23] FLO-2DKaren commented on #765
@vcloarec Hi Vincent,

We also need to remove the if rtimp >1 statement because it shouldn't ever be greater than 1 now.

[2022-05-21 09:53] FLO-2DJJ commented on #816
@FLO-2DKaren I modified the plugin to use ST_Crosses in updates to polylines of mult channels and simple mult channels. See if that solves the issue. Not sure about your comment about old or new features. I thinks it applies to both. Please check it.

[2022-05-21 14:04] FLO-2DKaren commented on #816
@FLO-2DJJ I think there will still be a problem because you are only updating New Polylines and not all polylines.

Can you change the code so that it applies to All features and not just the features with a new FID?  Because now if I move a node, on an old line, it won't update that line because the FID is old.

![image](https://user-images.githubusercontent.com/20424460/169655124-d7da8efb-1c47-4

[2022-05-21 14:10] FLO-2DJJ commented on #816
Ok Karen, I'll look at it.
Do you think we should also use the ST_Crosses predicate for polygons?

On Sat, May 21, 2022, 10:04 AM Karen ***@***.***> wrote:

[2022-05-21 14:15] FLO-2DKaren commented on #816
@FLO-2DJJ
Is that a different issue?  You mean the other polygon intersection code?   I think it depends on the situation.  I'll make a new issue and we can study it.

[2022-05-21 14:28] FLO-2DJJ commented on #816
I mean the areas (polygons) that define the features for the Multiple
Channels Areas:

[image: image.png]

They use ST_Intersects:

INSERT INTO trigger_control (name, enabled) VALUES
('find_cells_mult_insert', 1);
CREATE TRIGGER IF NOT EXISTS "find_cells_mult_insert"
    AFTER INSERT ON "mult_areas"
    WHEN (SELECT enabled FROM trigger_control WHERE name =
'find_cells_mult_insert') AND (NEW."geom

[2022-05-21 14:38] FLO-2DKaren commented on #816
I'm testing that right now.

[2022-05-21 18:05] FLO-2DKaren commented on #816
@FLO-2DJJ

Mult areas only apply when someone imports a dataset.  They should export the same way they import.  So we don't want extra cells in the table compared to the MultAreas.

[2022-05-23 16:34] #803 closed

[2022-05-23 16:37] FLO-2DKaren commented on #810
@FLO-2DJJ @FLO-2DNoemi
Hi JJ and Noemi,  During June, I would like to investigate this issue.  Here is a test project that will not import into a blank geopackage.

https://flo-2d.sharefile.com/share/view/s60bec0cef9434db3a78939e4a6289e92

[2022-05-23 16:37] #808 closed

[2022-05-24 02:38] vcloarec commented on #779
Indeed, I didn't see this issue that existed before my work. Should be fixed by https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/pull/830

[2022-05-24 14:14] FLO-2DKaren opened #831 "Correction Field Issue"
@vcloarec

Hi Vincent,

Can you please check one more thing?  I don't know why but my Correction field is empty.  I'm setting it to the WallHeight field in the Wall shapefile but the data isn't transferring.

![image](https://user-images.githubusercontent.com/20424460/170057055-ea1c9d40-2aa8-4656-9151-35136315a537.png)

[2022-05-24 16:53] #831 closed, assigned to nobody

[2022-05-25 01:08] vcloarec commented on #765
@FLO-2DKaren , calculation should be better with https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/pull/834

[2022-05-25 13:30] FLO-2DKaren commented on #810
Hi JJ,

I think the storm drain data is one problem with the gpkg import not running.  If you try to import this gpkg file into a clean gpkg, it won't load.  It simply hangs and spins and if you close it and reload it, you will only get the grid and channel data.

https://flo-2d.sharefile.com/d-s4697c565e0f04f9dae6e759d01a84993

[2022-05-25 14:01] FLO-2DKaren opened #835 "Simple Bad Message"
@FLO-2DJJ

Hi JJ,
Can you fix this one too?  It's running fine so the message is the same one from flopro.
![image](https://user-images.githubusercontent.com/20424460/170280681-e3c17a45-e753-4ad4-af68-c12f6a434f5b.png)

[2022-05-25 14:30] vcloarec commented on #726
@FLO-2DKaren , do you want this multibarrels parameter only for type 'F' (culvert equation) or also for others type ?

[2022-05-25 14:57] FLO-2DKaren commented on #726
Only Type F

[2022-05-26 01:44] FLO-2DKaren opened #837 "Weir Correction"
@FLO-2DJJ
Hi JJ,

Is Crest Height the same as Inlet Offset?
Length is spelled wrong.

![image](https://user-images.githubusercontent.com/20424460/170398067-78df2bdf-0ef1-4120-bb49-d4f58c207309.png)

[2022-05-26 09:36] FLO-2DJJ commented on #837
@FLO-2DNoemi could you answer @FLO-2DKaren question?

[2022-05-26 14:48] FLO-2DKaren commented on #837
@FLO-2DKaren @FLO-2DJJ I found it online.  I'm OK.

[2022-05-26 16:37] #837 closed

[2022-05-28 13:27] FLO-2DJJ commented on #810
Hi @FLO-2DKaren,

I've found that one problem with Lesson 1.gpkg is table 'infil_areas_green'. I changed the code temporality to skip it and the import completes without problem. However, I do not see any change to that table since 2 years ago, I'll continue looking at the issue with that particular table.

[2022-05-29 17:48] FLO-2DKaren commented on #810
OK thanks JJ,   Look at the EFF field.  We replaced that with the Effective Impervious Areas layer so that field shouldn't be part of the Infiltration layers anymore.  Can you skip the import of that?

[2022-05-30 12:00] FLO-2DJJ commented on #810
My tests do import this geopackage without problem to a new blanks geopackage.

[2022-05-30 15:20] vcloarec commented on #786
For the failing `test_export_mult`

I think the problem come from here: https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/blob/c2b7e03ed708c48f716583f33e6e0933c50a8de0/flo2d/flo2d_ie/flo2d_parser.py#L505

I issue here, two potential issues:
- first, in text environment, under Linux, the variable `last_dir` is empty, so the import can't work
- second, not sure the using `r"\MULT.DAT"` works unde

[2022-05-30 17:13] FLO-2DKaren opened #838 "Weir Import Error"
@FLO-2DJJ

Hi JJ,  This issue is related to the shapefile code for weirs.  There are some Import restrictions that need to be fixed.

                    weir_type = (
                        f[self.weir_type_FieldCbo.currentText()]
                        if self.weir_type_FieldCbo.currentText() in ["TRANSVERSE", "SIDEFLOW", "V-NOTCH", "TRAPEZOIDAL"]
                        else "TRANSVERSE"

[2022-05-30 20:24] FLO-2DKaren commented on #810
@FLO-2DJJ here is  a test with only 400 infiltration features

https://flo-2d.sharefile.com/d-sf65476e3a22c47f5ae406d20e9bf2f6e

It loads but takes too much time.

[2022-05-31 13:52] vcloarec commented on #786
Following skip tests are working find on my side:

`test_flo2dgeopackage.py/test_import_chan`
`test_flo2dgeopackage.py/test_import_xsec`
`test_flo2dgeopackage.py/test_export_chan`
`test_flo2dgeopackage.py/test_export_xsec`

`test_schematics_tools.py/test_get_intervals`
`test_schematics_tools.py/test_interpolate_along_line`

[2022-05-31 14:16] vcloarec commented on #786
`test_flo2dgeopackage.py/test_export_breach`
During test, the table levee_data is empty. To success some levee with adapted data has to be imported first, that is the file LEVEE.DAT has to be adapted. Then using `self.f2g.import_levee()` at the begining of the test make it sucessful.

[2022-05-31 21:00] FLO-2DKaren opened #840 "Import gpkg slow"
@vcloarec @saberraz

The update and import of infiltration areas / infiltration tables is taking too long.  I don't know if this is a result of a new QGIS or if it is related to the gpkg table update triggers.  I am getting over 10 minutes to update a table with only 50,000 rows.  Even updating data with only 400 rows is taking way too long.

Can you please look into this?  It is a critical issue

[2022-05-31 21:05] FLO-2DKaren commented on #840
You can try to import this geopackage or you can edit any of the infiltration tables and the problem will be obvious because the little rotating circle doesn't go away.

https://flo-2d.sharefile.com/d-sdf46d364c88845338eeda6a1bbce0584

The problem is likely with all of the infiltration tables not just Green Ampt.

[2022-06-01 01:18] #816 closed

[2022-06-01 01:19] #763 closed

[2022-06-01 01:19] #765 closed

[2022-06-01 01:35] vcloarec commented on #840
It comes from the triggers... When the layer "Areas Green Ampt" is modified (insert, update delete), the table "Cells Green Ampt" is sync by triggers. Theses triggers seems very costly and make every operation quite long.

I am wondering of the utility of this "Cells Green Ampt"  that is a table that links grid fid to the infiltration grid fid.
Maybe I am wrong, but, it seems the infiltration grid

[2022-06-01 03:40] #764 closed

[2022-06-01 11:45] FLO-2DJJ commented on #840
'Cells Green Amp'  is in fact table 'infil_cells_green' which is used in
several methods:

import_infil
export_infil
schematize_infiltration (called from the Infiltration Editor widget)
calculate_green_ampt

and of course when triggers are activated whenever there is an insert,
update or delete of  'Areas Green Ampt' (table 'infil_areas_green').

What Vincent is suggesting (store the grid fid in t

[2022-06-01 15:24] FLO-2DKaren commented on #840
@vcloarec @FLO-2DJJ

Hi Vincent,

If I remember correctly, the idea was to collect similar infiltration grids in blocks so that layer wasn't so bulky.  However, each cell usually different numbers because of the area weighted averaging.  The data is always 1 for 1 infiltration to grid.  I think simply having a table of values is preferable.

JJ do you agree?

[2022-06-01 19:31] FLO-2DJJ commented on #840
@Karen OBrien ***@***.***>, @vcloarec <https://github.com/vcloarec>

Sorry, but without looking at the details of the code for this
functionality, which is distributed in several places of the plugin, I
can't  tell at this moment whether what you are suggesting works.At first
sight it doesn't look trivial.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Wed, Jun 1, 2022 at 11:2

[2022-06-02 03:03] vcloarec commented on #840
Indeed, it is not trivial, but I think it is feasible to not use anymore the "Areas Green Ampt" layer but only the table "Cells Green Ampt". In this table we can put the all the parameters.
I give a try for green ampt.

[2022-06-02 09:44] FLO-2DJJ commented on #840
👍

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Wed, Jun 1, 2022 at 11:03 PM Vincent Cloarec ***@***.***>
wrote:

[2022-06-02 15:13] FLO-2DKaren commented on #840
@vcloarec
That would be really awesome.  I appreciate your input and help.  Please let Saber know if we need additional funding and I'll work on that with him.

[2022-06-03 16:35] FLO-2DKaren opened #844 "Green Ampt Error"
@vcloarec

Hi Vincent,
I got this error when trying to calculate green ampt.  Can you please fix it for me.
![image](https://user-images.githubusercontent.com/20424460/171907781-bb95e542-7a53-4fa1-bb8f-4fc862de8512.png)

Here's the project
https://flo-2d.sharefile.com/d-s63af289cc1614faf9eb63413ca54f738

[2022-06-03 17:52] vcloarec commented on #844
I've already find this issue working on #840. I am on it.

[2022-06-03 17:57] FLO-2DKaren commented on #844
OK I was just doing more testing and added an eff polygon and the error changed.

[2022-06-03 17:58] FLO-2DKaren commented on #844
PS.  Thanks!!!

[2022-06-04 08:25] FLO-2DJJ commented on #771
@FLO-2DNoemi  @FLO-2DKaren

I'm going to hide layer "Mud Areas" of Sediment Transport. Explanation:

Debris basin: it should be a single cell with a volume (line 5 of SED.DAT):
Line 5: SEDCHAR = ‘D’ JDEBNOD DEBRISV
Just one cell.
However the plugin has a strange way of defining its geometry using a polygon in layer "Mud Areas" (for table "mud_areas").
In reality that "mud_areas" table is used inte

[2022-06-04 19:34] FLO-2DJJ commented on #771
Also the name of layer "Mud Cells" (plural) was changed to "Mud Cell"
(single) in layers panel (under Sediment Transport tables) to reflect that
it only contains one feature.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Sat, Jun 4, 2022 at 4:26 AM Juan Jose ***@***.***> wrote:

[2022-06-07 14:50] #844 closed

[2022-06-07 14:52] FLO-2DKaren commented on #840
@vcloarec
Hi Vincent.  I merged #844 and it is now working correctly for the RTIMP Import error fix and the speed and the RTIMP calculation.  That is excellent.

Can we return to this issue for the slow import?

Karen

[2022-06-08 14:22] FLO-2DKaren commented on #838
Tested Fixed

[2022-06-08 14:23] #822 closed

[2022-06-09 01:49] FLO-2DNoemi commented on #771
JJ,

I think these changes are OK, we can take a look together at this tomorrow.

N

On Sat, Jun 4, 2022 at 3:34 PM Juan Jose ***@***.***> wrote:

[2022-06-09 12:10] FLO-2DJJ opened #847 "Create Storm Drain Discharge plots"
See plots created in GDS under directory StormDrainDischarge <date>.
Like this:
![image](https://user-images.githubusercontent.com/20424575/172843574-cbe9817a-1688-45ef-a0d2-3a7d161591ee.png)

[2022-06-09 12:25] FLO-2DNoemi commented on #847
Create plots for the Storm Drain Discharges for inlet/junctions and outfalls from a SWMM.OUT/SWMM.RPT output file.

Similar to GDS:  Tools/Storm Drain/Storm Drain Discharge Display/from external .RPT

Output files are read, and plots are created for the entire storm drain system automatically.

This tool is needed to review the storm drain system response during the storm drain development and to

[2022-06-13 18:51] FLO-2DKaren opened #848 "Deprecated Index Command"
@vcloarec

Hi Vincent,  Do you think this is a problem?  I'm using QGIS version 3.22.7.

I get this warning when I run the n_value calculator by centroid.  I'll add a test project in a bit.

2022-06-13T14:46:42     WARNING    warning:C:\Users/FLO-2D GPC/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\flo2d\flo2d_tools\grid_tools.py:409: DeprecationWarning: QgsSpatialIndex.insertFeature(

[2022-06-13 21:24] FLO-2DKaren commented on #840
This issue is solved and tested.
@vcloarec Thanks Vincent.  All 3 infiltration types work great.  I did some additional updates to the SCS number because it should be an integer so you might way to update your local repo.

[2022-06-13 21:24] #840 closed

[2022-06-13 21:32] FLO-2DKaren commented on #848
OK.  Thanks.

[2022-06-13 21:32] #848 closed

[2022-06-14 09:02] #835 closed

[2022-06-14 09:22] #810 closed

[2022-06-14 09:25] FLO-2DJJ commented on #793
.fetchone() is the correct statement

[2022-06-14 09:29] FLO-2DJJ commented on #768
@FLO-2DKaren can this issue be closed?

[2022-06-14 09:30] FLO-2DJJ commented on #767
@FLO-2DKaren can this issue be closed?

[2022-06-14 09:40] #713 closed

[2022-06-14 09:44] FLO-2DJJ commented on #695
@FLO-2DNoemi can be close this issue?

[2022-06-14 09:51] FLO-2DJJ commented on #590
I think this is completed. @FLO-2DKaren do you agree?

[2022-06-14 14:06] FLO-2DJJ commented on #565
@FLO-2DKaren Do you think this issue should be closed?

[2022-06-14 14:08] #695 closed

[2022-06-14 14:17] #590 closed

[2022-06-14 14:30] #726 closed, assigned to ldebek

[2022-06-14 14:31] FLO-2DKaren commented on #767
@FLO-2DJJ No there are a lot that are being skipped.  I'd like to not skip any.  Can we meet to see them?

[2022-06-14 16:25] FLO-2DKaren commented on #768
No I want to do something a little different.  I'll get to this soon.

[2022-06-17 16:40] FLO-2DKaren commented on #786
@FLO-2DJJ Hi JJ,  Do you want Vincent to fix the failing tests?  I asked him to review some of them and then tell us how to fix them.  I think we should fix them and activate the skipped ones.

[2022-06-17 17:05] FLO-2DJJ commented on #786
Let me review the current test code first. Just a quick look and then ask
Vincent if required. It won't take much time. I'll do it this afternoon.

On Fri, Jun 17, 2022, 12:41 PM Karen ***@***.***> wrote:

[2022-06-19 07:34] FLO-2DJJ opened #851 "Add text area to all SD dialogs to include help descriptions for each variable/parameter/field"
Components Dialogs;
- [ ] Inlets/Junctions
- [ ] Outfalls
- [ ] Conduits
- [ ] Pumps
- [ ] Orifices
- [ ] Weirs

From shapefile:
- [ ] Inlets/Junctions
- [ ] Outfalls
- [ ] Conduits
- [ ] Pumps
- [ ] Orifices
- [ ] Weirs

[2022-06-21 13:31] FLO-2DKaren opened #852 "Simple Storm Drain Hystrruc bug"
@FLO-2DJJ

Hi JJ,

The plugin saves the D line in hystruct.dat in the wrong place. It should be the last line.
Look in flo2dgeopackage.py on line1921.

Here's a test project.
 https://flo-2d.sharefile.com/d-s05913b9b6c0149c1a93cec4fe52d7bb5

[2022-06-21 23:46] FLO-2DJJ commented on #852
Fixed: D lines are now written at end of HYSTRUC.DAT

[2022-06-23 10:47] FLO-2DJJ opened #854 "SD: add functionality to Outfalls for Tidal Curve and Time Series"
See how EPA SWMM does it. And also in Inlets dialog (under External Inflow).

[2022-06-23 11:02] FLO-2DJJ commented on #854
For Tidal Curves and Time Series consider the options of create the data and/or read it for external files.

[2022-06-24 21:51] FLO-2DKaren opened #855 "Orifice bug"
@FLO-2DJJ

Hi JJ,

1. There are a lot of places in the code where the word orificies is used instead of orifices.  It's causing some problems.  Can you please change these so that the plugin calls the correct names and has the correct button spellings.  It seems to be OK to change them all to orifices.

2. This line in the auto assign is not working.  See the last "else".  That is resetting the fi

[2022-06-25 00:50] FLO-2DJJ commented on #855
Received. I'll take care of it.

On Fri, Jun 24, 2022, 6:30 PM Karen ***@***.***> wrote:

[2022-06-25 13:24] FLO-2DKaren commented on #855
Thanks.  I'm working on the tutorial for pumps orifices and weirs so that's why I'm doing this now.

[2022-06-25 15:13] FLO-2DKaren opened #856 "water depth to fixed stage"
@FLO-2DJJ

JJ,  I found more labels and one possible field that are wrong.

Water Depth should be  Fixed Stage or fixed_stage

![image](https://user-images.githubusercontent.com/20424460/175779594-d4804172-3a7f-48dd-8470-6605cd001932.png)

![image](https://user-images.githubusercontent.com/20424460/175779607-bbdb6fac-d096-423e-b3ef-f24f9900ebb8.png)

I added an alias to this one so I can keep work

[2022-06-25 23:07] FLO-2DJJ commented on #855
@FLO-2DKaren: Fixed. You can test it and close it.

[2022-06-26 19:20] FLO-2DKaren opened #857 "Crest Height"
@FLO-2DJJ @FLO-2DNoemi
Hi JJ,

I might have made a mistake and asked you to use crest height instead of inlet offset because I thought it was easier to understand.    Now that I'm building some lessons, I see that it makes more sense as Inlet Offset than crest height.  I can do this or you can do it but I think going back to Inlet Offset is best.

Noemi, let me know your opinion.

![image](https:/

[2022-06-26 19:54] FLO-2DNoemi commented on #857
Karen,

I agree with you that should be Inlet Offset instead of Crest Height. If if
I am not mistaken, JJ has that change in his list of changes for the SD
system. I think it is better if you let him modify it because he is doing
other updates now to the SD.

On Sun, Jun 26, 2022 at 3:21 PM Karen ***@***.***> wrote:

[2022-06-26 20:07] FLO-2DNoemi commented on #856
If we want to use a different description than Fixed stage, we could also
use Water Elevation but water depth is incorrect.

On Sat, Jun 25, 2022 at 11:13 AM Karen ***@***.***> wrote:

[2022-06-27 15:23] FLO-2DKaren opened #858 "ARF/WRF GitHub Merge Problem"
@FLO-2DJJ @vcloarec

It looks like JJ has set the arf/wrf calculator back in time a bit.  He pushed an absolute value correction that Vincent had already fixed but he inadvertently undid all of Vincent's new code.

I'm surprised that we've only had this problem 3 times given how complex the code is.

Vincent,
Can you please fix this?  I think it is easier for you to fix it because you know what yo

[2022-06-27 17:32] vcloarec commented on #858
@FLO-2DKaren , it looks like my code was not overwritten.
Can you tell me more about the issue?

[2022-06-27 18:07] FLO-2DKaren commented on #858
@vcloarec Oh thank goodness.  OK that's good.  So it's taking 4 min to calculate Lesson 1 ARFs.  It's usually less than 1 min.  I'm going to test a larger dataset.  I'll get back to you.

@FLO-2DJJ Sorry JJ,  I was wrong about your code.

[2022-06-27 18:29] FLO-2DKaren commented on #858
@vcloarec
It takes 26 min to calculate a large dataset.  I think that's about right.  I wonder why my small project increased in time?  Maybe it's the collapse correlation?  If that is tied to the Building Polygons, maybe a sql trigger is processing more data.  Any thoughts?

[2022-06-27 18:51] vcloarec commented on #858
can you share the project and detail steps, so I could reproduce and look at?

[2022-06-27 19:43] FLO-2DKaren commented on #858
https://flo-2d.sharefile.com/d-s493bad98246344c5b4e4e1af30601b1a

Just use the ARF/WRF calculator on Buildings or Blocked Areas.  It's taking around 4 min on my computer.  Should be like less than 1 min I think.

[2022-06-28 02:55] vcloarec commented on #858
@FLO-2DKaren ,
I am wondering if your attributes table of "ARF_WRF" layer is open when you launch the calculator?
On my side, when this table is open it takes a very long time to proceed.
But if the tables is closed, my computer need between 10 s and 30 s.

[2022-06-28 15:10] FLO-2DKaren commented on #858
I didn’t have my table opened but I did notice what you are talking about.
Sometimes it seems to go fast like normal and sometimes it seems to go slow.

[2022-06-28 17:46] FLO-2DKaren commented on #857
Finished

[2022-06-28 17:46] #857 closed

[2022-06-28 17:46] FLO-2DKaren commented on #856
Done

[2022-06-28 17:46] #856 closed

[2022-06-28 18:57] FLO-2DKaren commented on #855
Tested OK

[2022-06-28 18:57] #855 closed

[2022-06-28 18:59] FLO-2DKaren commented on #851
@FLO-2DJJ

JJ, We could also add a link that opens the manual at this feature.  Since that data is already well documented in the User Manual.

[2022-06-29 00:53] vcloarec commented on #858
I have done again some try and my result are quite good (with QGIS 3.26.0): 7 seconds. I think old tries have been done with a debug built  by myself version of QGIS that is quite slower.

With official QGIS version, it seems OK to me...

[2022-06-29 12:44] FLO-2DKaren commented on #858
OK I'm going to ignore it for now. Ha, 7 seconds is pretty awesome.  I'll update right away.  I want to see if my large data projects get improved speed too.

I'll close this.  Thanks for looking into it.

[2022-06-29 12:44] #858 closed

[2022-06-29 12:54] FLO-2DKaren commented on #852
Tested with 2 different d lines.  Working good.

[2022-06-29 12:54] #852 closed

[2022-06-29 12:57] FLO-2DKaren commented on #767
@vcloarec
Hi Vincent,
Can you fix these?   I think they are easier for you.  There are some new files that might need to be added.  I'll do a review and put a link in here.

[2022-06-29 14:28] FLO-2DKaren commented on #767
Move to #786

[2022-06-29 14:28] #767 closed

[2022-06-29 14:32] FLO-2DKaren commented on #786
@vcloarec   I just sent you an email with details.  I'll copy it here too so you don't have to keep that email.
[Action Test Update Files.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/9011445/Action.Test.Update.Files.zip)

1.	def test_import_infil(self):  Fix test
a.	data file seems ok.  Don't know why test is failing.  Maybe it's the R lines.  Maybe they can't be mixed with that

[2022-06-29 22:28] FLO-2DKaren opened #860 "GRAPTIM variable wrong line"
@FLO-2DJJ
JJ,

I partially fixed this.  I added lines 1282 and 1283 so the variable is only written when lgplot is not 0.
flo2dgeopackage.py

When you get a chance, see this problem.  I think the conditional code that you added to address itimtep interval is causing GRAPTIM to be written on the wrong line.  It should be the last line and it should only be written if lgplot is 2.

 24.0 0.1 2 0 0

[2022-06-30 04:55] FLO-2DJJ commented on #860
@FLO-2DKaren looking at the history of the code I see that I mistakenly entered an error from merge 'add_STARTIMTEP_and_ENDTIMTEP_to_CONT.DAT' 5 weeks ago on May 26. Not corrected yet, I'm looking at it.

[2022-06-30 17:46] vcloarec commented on #786
for 2 (test_import_chan), to test the new CHAN.DAT file provided, we need also the associated file CHANBANK.DAT and XSEC.DAT

[2022-06-30 17:51] FLO-2DKaren commented on #786
@vcloarec
They are the same two files.  I just added some text to the end of the chan.dat file that you already had in the test folder.

[2022-06-30 19:19] FLO-2DJJ commented on #860
Fixed. @FLO-2DKaren please test it and close this ticket if the fix is correct.

[2022-06-30 22:35] vcloarec commented on #786
for 7. def test_export_cont(self), do you have a description of the CONT.DAT file, especially for new value?

[2022-06-30 23:58] vcloarec commented on #786
More generally, is there a recent document that describes the *.DAT files content?

[2022-07-01 15:33] FLO-2DKaren commented on #786
@vcloarec
Here is the data input manual.  Each *.dat file is linked in the table of contents.  The variable ITIMTEP has the new line options.

The manual is not finished so it might be missing something.

https://flo-2d.sharefile.com/d-s5a94178ac27342bdbb73bcdb230318da

[2022-08-12 18:58] FLO-2DKaren opened #865 "Infil Schema Bug"
@FLO-2DJJ

Hi JJ,
Can you fix a few things for me?
infil_editor_widget.py
Line 399  Remove the last "?".  There are too many in this line.
Line 420 Add a [ ].  It needs 4 not 3.

[2022-08-12 21:23] FLO-2DJJ commented on #865
Got it. I'll repair it.

On Fri, Aug 12, 2022, 8:58 PM Karen ***@***.***> wrote:

[2022-08-13 03:02] #865 closed

[2022-08-13 03:21] #860 closed

[2022-08-18 22:04] FLO-2DKaren opened #866 "Cont.dat keeps writing text mode"
@FLO-2DJJ

Hi JJ,

If you try to set timdep settings, the plugin keeps turning off Display Graphics mode and changing it to text mode.  Can you check that?  There shouldn't be any triggers that relate the time series to the Display Graphics.

[2022-08-19 07:13] FLO-2DJJ commented on #866
I'll check it again.

El vie., 19 ago. 2022 0:04, Karen ***@***.***> escribió:

[2022-08-20 04:34] FLO-2DJJ commented on #866
@FLO-2DKaren I do not see the problem. I set LGPLOT to Display Graphics and combined it with all options of ITIMTEP and TIMTEP. CONT.DAT is written as expected: the 3rd value of 1st. line of CONT.DAT is 3 for Display Graphics in all cases.
Is there other situation that you are seeing? If so, could you give me the details, please?

[2022-08-22 11:31] FLO-2DKaren commented on #866
@FLO-2DJJ

here are the steps that make it fail on my computer.

1. Set to Detailed Graphics.
2. Set Graphic Time switch.
3. Set Time Series Switches.
4. Save and close dialog.
5. Reload Dialog and you see that it is reset to Text mode.

[2022-08-22 17:38] FLO-2DJJ commented on #793
This is not clear. Thre are cases where there is more than one record with different inttypes for the same swnn_jt. Why?

[2022-08-23 04:31] FLO-2DJJ commented on #793
@FLO-2DNoemi , @FLO-2DKaren. Code around the issue was modified to capture the situation when one grid has more than one inlet. Warning given. However, If one of the inlets is of type 4 it is included in SWMMFLORT.DAT.

[2022-08-23 04:31] #793 closed

[2022-08-23 13:10] FLO-2DKaren commented on #866
@FLO-2DJJ

Let me try again to simplify.

1. Set to Detailed Graphics.
2. Set Update Time Interval to 0.1.
3. Set Timeseries output to any number 0 - 5.
4. Set Output Interval to 0.5.
5. Set Use Time Interval to anything you want.
6. Save and Close.
7. ReOpen dialog box and see that Detailed Graphics is now back to Text Mode.

[2022-08-23 13:11] FLO-2DKaren commented on #866
That's what happens on my computer.  Just want to confirm it's happening for you too.

[2022-08-23 14:05] FLO-2DJJ commented on #866
Thanks Karen,
I followed your 7 steps. The Detailed Graphics remains the same.
Don't know why you get something else. Would you like to see the issue
together with me?

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Tue, Aug 23, 2022 at 3:10 PM Karen ***@***.***> wrote:

[2022-08-23 14:16] FLO-2DKaren commented on #866
OK then.  Let’s eliminate this for now.

[2022-08-23 14:20] #866 closed

[2022-08-23 14:39] FLO-2DKaren opened #867 "Storm Drain Name Issue"
@FLO-2DJJ

Hi JJ,  If you already know about this one or fixed it, please close this issue.  I'm working on 0.10.66.

If the name has "i" instead of "I", it wont be written to swmmflo.dat.

Our documentation allows both cases so we can allow both for the plugin.

![image](https://user-images.githubusercontent.com/20424460/186187171-ea4811b9-26de-4478-a303-ca8c75b85c2f.png)

![image](https://user-i

[2022-08-23 14:44] FLO-2DKaren opened #868 "Incorrect Warning"
@FLO-2DJJ

This warning is not valid.  The I1, I2 designation in the name does not reflect the storm drain type.  Only the storm drain type reflects the storm drain type.

The example in Lesson 3 has some data that was changed after the name was made.  The name wasn't changed since it was such a pain to change node names back in the day.

@FLO-2DNoemi  can confirm this.

![image](https://user-imag

[2022-08-23 15:25] FLO-2DJJ commented on #868
@FLO-2DNoemi I believe we already agreed to make the first 2 letters of the name reflect the inlet type.

[2022-08-24 11:58] FLO-2DNoemi commented on #793
JJ,

Let's talk about this today.

Noemi

On Tue, Aug 23, 2022 at 12:31 AM Juan Jose ***@***.***> wrote:

[2022-08-25 14:09] FLO-2DNoemi opened #869 "2 Phase Flow - New or updated data files"
1.  - [x]  Changes to CON.DAT file

2. - [x]  For two phase flow both the sediment transport and mudflow variables have to be assigned in the SED.DAT file.  In other words, SED.DAT file should include Mudflow and Sediment lines, it can not be exclusive, see example below:

3. - [x]  INFLOW.DAT file reservoir line (R-line) needs additional data:

                                  Cell #

[2022-08-28 08:53] FLO-2DJJ commented on #869
Items 1 and 2 included in functionality of plugin: reads/writes SED.DAT with 2 phase data. Mud/Sediment Transport dialog from FLO-2D toolbar includes Two Phase dynamics.

[2022-09-08 03:55] FLO-2DJJ commented on #869
@FLO-2DNoemi , @FLO-2DKaren :

1. Currently when exporting SED.DAT the file TAILINGS.DAT is not exported even if two phase flow is selected for sediment transport. TAILINGS.DAT is only exported when INFLOW.DAT is selected in the export components dialog AND the new 'Tailings Cells' layer has values. Is that correct? or we should change the logic of it? (By the way, the 'Tailings Cells' layer is fi

[2022-09-11 00:41] FLO-2DNoemi commented on #869
@Juan Jose Rodriguez ***@***.***>

This is fine,  the tailings.dat file contains data for the tailing
material. The R line in the inflow.dat file turns on this.

On Wed, Sep 7, 2022 at 11:55 PM Juan Jose ***@***.***> wrote:

[2022-09-12 02:48] FLO-2DJJ opened #871 "Fix controls in dialogs and widgets (.ui)"
- [ ] Levees and Breach Editor: Global Failure Mode radio buttons size when shrinking.
- [ ] All widgets: standardize height of QDoubleSpinBoxes and QSpinBoxes.
- [ ] Structures Editor: Rating group: height and width of texts.

[2022-09-15 18:17] FLO-2DNoemi commented on #869
@FLO-2DJJ please review this as soon as possible:

1 and 2 are working.

3. INFLOW.DAT file reservoir line (R-line) is missing Tailings Elev. or Depth. This was already in the plugin, something was changed. Tailings.dat was also created before but now is not written.  This may be associated to INFLOW.DAT file R line issues, since if the R line (INFLOW.DAT) that turn on the writing code of the tail

[2022-09-16 09:42] FLO-2DJJ commented on #869
@FLO-2DNoemi , @FLO-2DKaren The plugin in GitHub writes R lines in INFLOW.DAT with tailings elev/depth.
There is a new field in 'user_reservoirs' and 'reservoirs' tables (layers) with name 'tailings' (REAL DEFAULT -1.0). When a reservoir is created a dialog shows with default -1 (meaning 'no tailing value'):

![imagen](https://user-images.githubusercontent.com/20424575/190605413-9d9478ec-edd2-4613

[2022-09-16 11:59] FLO-2DKaren opened #872 "Dialog missing elevation field"
@FLO-2DJJ  @FLO-2DNoemi
Is there supposed to be a tailings dam elevation field in this dialog?

![image](https://user-images.githubusercontent.com/20424460/190633990-9d43e840-97eb-41c9-a7a7-61635171365a.png)

[2022-09-16 16:52] FLO-2DJJ commented on #872
Did you created a new project?

On Fri, Sep 16, 2022, 1:59 PM Karen ***@***.***> wrote:

[2022-09-16 18:34] FLO-2DKaren commented on #872
@FLO-2DJJ
I am doing it right now.  I'll let you know if anything goes wrong.

[2022-09-16 18:45] FLO-2DKaren commented on #872
I don't see a new *.ui file.  Is something missing?

![image](https://user-images.githubusercontent.com/20424460/190709693-abc7bb8e-6dc4-4f13-b795-6a8625f9fe1a.png)

[2022-09-16 18:57] FLO-2DKaren commented on #872
Found it
![image](https://user-images.githubusercontent.com/20424460/190711560-607c59ce-ef68-4c22-93b2-0d058f491d39.png)

[2022-09-16 18:57] #872 closed

[2022-09-25 01:44] FLO-2DNoemi commented on #869
@FLO-2DJJ , I reviewed the latest plugin for the 2 Phase Flow component, please see below and comment:

- [ ] Mud and sediment transport dialog has to be reviewed, click OK and save data.
- [ ] Read R line from INFLOW.DAT file with additional data for tailing tool elevation. Make sure we keep compatibility for other projects, for example R lines for water reservoirs, inflow hydrographs, etc.
- [ ]

[2022-09-25 01:48] FLO-2DNoemi opened #873 "Tailing Dam Tool"
@FLO-2DJJ

- [x] Add option to enter multiple inflow elements to the tailing dam tool. New option to create INFLOW.DAT with the volume distributed between one or more elements.
- [x] Review total volume.
- [x] Compare a final run User Volume to Summary.out Volume.  They seemed off to me. (karen)

[2022-09-29 06:36] FLO-2DJJ opened #874 "Why is RAIN.DAT written when there is no rain?"

[2022-09-29 06:38] FLO-2DJJ opened #875 "Remove, move, or improve'Model Started' message when running FLOPRO.EXE"

[2022-10-08 13:50] FLO-2DKaren opened #876 "Debug Path Issue"
@FLO-2DJJ

Hi JJ,  I found an issue with loading the debug **Issues Files**.  This system uses the LastGdsDir as the path.  I think it is breaking when that path does not equal the Debug path.

File:  dlg_issues.py
Line: 808

I think you can fix this by using the Last Debug directory instead of the lastGdsDir.

Here's a video to show how the bug.

https://flo-2d.sharefile.com/d-sfe59c05a5a3b4a2ab1

[2022-10-08 18:47] FLO-2DKaren opened #877 "New Debug File Request"
@FLO-2DJJ @FLO-2DNoemi

Hi JJ,

Can you please add a few things to the extra files that are read during the Debug Checks?

ARF_ADJUSTMENT.CHK
UndergroundOUTFALLS.CHK
CHAN_INTERIOR_NODES.OUT
ManholePop.OUT

[2022-10-08 18:47] FLO-2DKaren commented on #877
@FLO-2DJJ

JJ, I wonder if we can add the new Debug data to a Group called Debug.  That way the data wouldn't be hidden in the user layers or schema layers.

[2022-10-08 19:33] FLO-2DJJ commented on #877
Yes. I'll do that .

On Sat, Oct 8, 2022, 8:48 PM Karen ***@***.***> wrote:

[2022-10-09 05:14] FLO-2DJJ commented on #876
@Karen OBrien ***@***.***> The problem seems to be that the
"FLO-2D/lastDEBUGDir" setting was wrongly assigned to the whole path +
filename. I changed it to the path only:
line 227:
s.setValue("FLO-2D/lastDEBUGDir", os.path.dirname(debug_file))

 Try it and tell me if that solves the problem. Already uploaded to GitHub.

I'm working on the other issues in the debug functionality.

Juan Jose Rodrig

[2022-10-09 20:04] FLO-2DKaren opened #878 "Structure Editor Storm Drain Capacity"
@FLO-2DJJ

Hi JJ,

This is in the Structure editor.

This box is not enabled when the checkbox is checked.  I fixed it by always enabling it but I wonder if you can fix it correctly so that it is only enabled when a storm drain is loaded or when the box is checked.

![image](https://user-images.githubusercontent.com/20424460/194777202-acc1fc27-556c-431a-b9fd-6900f202d199.png)

[2022-10-10 00:41] FLO-2DKaren opened #879 "Storm Drain dialog"
@FLO-2DJJ
Hi JJ,  Can you change this to Fixed Stage?

![image](https://user-images.githubusercontent.com/20424460/194786885-3ad6728a-2637-4a61-8f9d-fa7f5d64c218.png)

[2022-10-11 07:21] FLO-2DKaren commented on #869
Testing now.

[2022-10-11 07:52] FLO-2DNoemi commented on #810
Jj,

Look into the storm drain. I am also sure this is an issue importing geopackages.

Noemi

Noemi’s Iphone

[2022-10-11 08:55] FLO-2DNoemi commented on #837
JJ,

Let's review this in the plugin today or tomorrow. I have some additional
comments.

I will answer Karen's question.

On Thu, May 26, 2022 at 5:36 AM Juan Jose ***@***.***> wrote:

[2022-10-11 09:29] FLO-2DNoemi commented on #869
@Juan Jose Rodriguez ***@***.***>

I downloaded the plugin and the new field for  tailings is not there.
Please review this.

On Fri, Sep 16, 2022 at 5:42 AM Juan Jose ***@***.***> wrote:

[2022-10-11 13:40] FLO-2DKaren commented on #810
@FLO-2DNoemi

Noemi the whole green ampt storage has been simplified so if you and JJ
can’t figure this out, let know because I know what was updated.

[2022-10-12 10:05] FLO-2DKaren opened #880 "Conflict slightly incorrect"
@FLO-2DJJ
Hi JJ, this conflict is slightly incorrect.  It is OK  to have an inlet and a junction in one cell but it is not OK to have an inlet and an inlet in one cell.  Can you change the code so that it's only comparing inlets with the "I" or "i" in the name.

![image](https://user-images.githubusercontent.com/20424460/195314503-c6271e76-3307-43ec-a4a9-0b1a8a473566.png)

[2022-10-12 21:17] FLO-2DKaren opened #881 "Failed Action Test"
@FLO-2DJJ

Hi JJ.  Did you see this failed import test?  I think we should see what's up with this.  I don't think anything in inflow.dat changed so far as the data structure goes.

![image](https://user-images.githubusercontent.com/20424460/195449605-6704ce5a-e398-4cbd-9fe2-ce14c35cc66e.png)

[2022-10-12 22:59] FLO-2DNoemi commented on #881
Karen,

I think this may be related to the tailings dam R line in the INFLOW.DAt
file.

@Juan Jose Rodriguez ***@***.***>  Can you check this?. We should be
able to import a regular inflow.dat file with hydrographs, R lines and the
combination of them.

On Wed, Oct 12, 2022 at 5:17 PM Karen ***@***.***> wrote:

[2022-10-13 12:59] FLO-2DKaren commented on #881
Oh right!!!  OK I can ask Lutra to modify the action test and add new action tests for the new tables.

[2022-10-18 09:49] FLO-2DJJ commented on #878
Storm Drain Capacity checkbox enables/disables value.
@Karen OBrien ***@***.***> please test and close issue if correct.

Juan Jose Rodriguez
FLO-2D Software
www.flo-2d.com
***@***.***

On Sun, Oct 9, 2022 at 10:04 PM Karen ***@***.***> wrote:

[2022-10-18 18:22] FLO-2DJJ opened #882 "Reading Tailings Dam Breach files: error in assignment of units"
Look at the sequence of several readings and changes of units. At some point the units are wrong.

[2022-10-18 18:23] FLO-2DNoemi opened #883 "Tidal or Timeseries tables for outfalls"
@FLO-2DJJ
Tidal or Timeseries types for outfalls can be assigned but the conditions cannot be created in the plugin.

A table dialog box to enter the time series table (Time vs values) or the tidal table (Time vs Stage) needs to be added to the plugin.

[2022-10-18 21:38] FLO-2DNoemi commented on #882
@FLO-2DJJ

The issue is only with metric units, and the problem is that the information that a file is using metric units is not save in the XML. When the XML is reopened, then the tool used English units as the default unit.

The following steps show the issue:

1. Create an XML file and save it using metric units.
2. Close the Tool
3. Open the tool and load the XML file

If you try to change the

[2022-10-19 04:28] FLO-2DJJ commented on #879
Done

[2022-10-19 04:28] #879 closed

[2022-10-21 15:21] FLO-2DKaren opened #884 "Bridge Routine Missing Data File"
The bridge routine needs a couple of things.

1. Export BRIDGE_COEFF_DATA.DAT to export folder when bridge is used.
2. Build the BRIDGE_XSEC.DAT file.
[Extra Bridge Data.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/9840353/Extra.Bridge.Data.zip)

![image](https://user-images.githubusercontent.com/20424460/197231083-5c85c23d-3d7a-42c4-8fca-7c290353730a.png)

[2022-10-21 19:13] FLO-2DKaren commented on #878
tested

[2022-10-21 19:13] #878 closed

[2022-10-21 19:19] FLO-2DKaren commented on #876
@FLO-2DJJ

I have 1 final suggestion for this.  When you click Debug Run, close this dialog box too.  It stays open and you have to click cancel to close it.  it's confusing.

![image](https://user-images.githubusercontent.com/20424460/197272950-5f3e31f3-924e-4198-9937-6b09845f839e.png)

[2022-10-21 19:31] FLO-2DKaren commented on #875
@FLO-2DJJ @FLO-2DNoemi
Here are my thoughts.

**Regular run**
Asyncronous message is OK.
Take out second message.
![regular run](https://user-images.githubusercontent.com/20424460/197274441-7a3a315c-90c2-41c1-a548-7d8333db68c0.gif)

**Debug Run**
![debug run](https://user-images.githubusercontent.com/20424460/197273899-fc4353e2-f797-4745-be31-8b59c6663276.gif)

The warning is confusing.  Maybe ski

[2022-10-21 20:45] FLO-2DKaren opened #885 "Error message close QGIS"
@FLO-2DJJ
I keep seeing this message when I close QGIS.
![image](https://user-images.githubusercontent.com/20424460/197285511-be34085f-5579-4df9-b8ba-b4dc71e61c58.png)

[Ready for Hydraulic Structures.zip](https://github.com/FLO-2DSoftware/qgis-flo-2d-plugin/files/9842331/Ready.for.Hydraulic.Structures.zip)

[2022-10-24 02:15] FLO-2DJJ commented on #885
Remove provisional 'profile'  lines used for testing speed of routines.

[2022-10-24 02:15] #885 closed

[2022-10-24 03:10] FLO-2DJJ commented on #880
Fixed. @FLO-2DKaren, @FLO-2DNoemi please test it and report to close issue.

[2022-10-24 03:10] FLO-2DJJ commented on #876
Fixed. @FLO-2DKaren, @FLO-2DNoemi please test it and report to close issue.

[2022-10-24 03:11] FLO-2DJJ commented on #875
Fixed. @FLO-2DKaren, @FLO-2DNoemi please test it and report to close issue.

[2022-10-27 02:29] FLO-2DJJ commented on #884
@FLO-2DKaren, @FLO-2DNoemi  could you explain this issue further? I see the BRIDGE_XSEC.DAT in the manual but not the other. Could you send me an updated Manual?

[2022-10-27 17:06] FLO-2DNoemi commented on #884
@FLO-2DKaren, I think we should add BRIDGE_COEFF_DATA.DAT to the following directories:

C:\Program Files (x86)\FLO-2D PRO
C:\Program Files (x86)\FLO-2D PRO\Run for Project Folder

 If the user run the simulation from FLO-2D PRO folder (Program Files (x86)), data file will be in that folder. If the user runs the simulation from the project folder, then all the files from Run for Project Folder wil

[2022-10-27 17:10] FLO-2DNoemi commented on #884
@FLO-2DKaren    Maybe we can change the extension of the BRIDGE_COEFF_DATA.DAT to something else like TBL (tabular data). This is not a DAT file that is created by the user.

[2022-10-27 19:37] FLO-2DKaren commented on #884
Let’s tackle it after the short course. Monday or Tuesday next week we can
look at it together.

--
Karen O'Brien
Technical Support

FLO-2D Software | Riada Engineering
P.O. Box 66 | Nutrioso, AZ | 85932
T. 928.339.1935
www.flo-2d.com | ***@***.***

[2022-10-27 20:32] FLO-2DNoemi commented on #884
@Juan Jose Rodriguez ***@***.***> you can continue working on creating
the BRIDGE_XSEC.DAT. The format of the file that we discussed this morning
is correct.

We need to discuss the BRIDGE_COEFF_DATA.DAT next Monday with Karen.

On Thu, Oct 27, 2022 at 3:37 PM Karen ***@***.***> wrote:

[2022-11-04 18:11] FLO-2DKaren commented on #875
Hi JJ,

I have an idea for this that maybe a good fix.  See this note:

![image](https://user-images.githubusercontent.com/20424460/200046072-29149625-328e-4d96-a644-07d0b18c87b3.png)

I think we can use this message bar instead of messages you have to close for all of our messaging.

[2022-11-04 21:16] FLO-2DJJ commented on #875
Yes @Karen OBrien ***@***.***> many messages could be shown in the
bar instead of dialogs that need to be closed. I'll be transferring them as
identified.

On Fri, Nov 4, 2022, 7:11 PM Karen ***@***.***> wrote:

[2022-11-12 11:44] FLO-2DJJ commented on #869
Review the whole tailings functionality: Initial conditions Editor widget (Reservoirs), Grid Tools Widget (Sampling Tailings), Running Tailings Dam Breach Model

[2022-11-14 03:39] FLO-2DJJ opened #886 "Maybe Future development: expandable/collapsed sections"
See
How to make an expandable/collapsable section widget in Qt

https://stackoverflow.com/questions/32476006/how-to-make-an-expandable-collapsable-section-widget-in-qt

[2022-11-14 03:57] FLO-2DJJ commented on #882
@FLO-2DNoemi. The units used are not saved in the XML file, I see two ways to fix this:

1. Leave the XMF as it is and ask the units to use when opening the file.
2. Save the units in the XMF file.

What do you think @FLO-2DNoemi ?

[2022-11-14 14:40] FLO-2DNoemi commented on #882
@Juan Jose Rodriguez ***@***.***>

I think we should save the units in the XMF file.

On Sun, Nov 13, 2022 at 10:57 PM Juan Jose ***@***.***> wrote:

[2022-11-14 20:13] FLO-2DKaren commented on #886
@FLO-2DJJ
That looks pretty good JJ.  I think we should do this.  @FLO-2DNoemi what do you think?

[2022-11-16 12:49] FLO-2DNoemi commented on #882
Thanks. I will review this and get back to you.

On Wed, Nov 16, 2022 at 3:08 AM Juan Jose ***@***.***> wrote:

[2022-11-22 07:31] FLO-2DJJ commented on #824
@FLO-2DKaren , @FLO-2DNoemi I've been trying to group some layers into subgroups of User Layers. It's been not possible to group them inside the User Layers but I managed to group them as "User Layers. Boundaries", "User Layers. Channels", etc.

![imagen](https://user-images.githubusercontent.com/20424575/203251391-7c5a267c-19e5-4c08-9e5b-98206005eb07.png)

See if you like this or prefer to mantai

[2022-11-22 15:39] FLO-2DKaren commented on #824
@FLO-2DJJ
Hi JJ,

Since you are using QgsLayerTreeGroup, you might be able to use an addgroup before you build the layers.  Like if you build the groups before you build the layer tree then you can call the group.

https://qgis.org/pyqgis/3.2/core/Layer/QgsLayerTreeGroup.html#qgis.core.QgsLayerTreeGroup.addGroup

[2022-11-27 04:56] FLO-2DJJ commented on #867
Issue already solved from version 0.10.69

[2022-11-27 04:56] #867 closed

[2022-11-28 10:14] FLO-2DJJ commented on #877
@FLO-2DKaren, what is the format of the extra files to be read during the debug checks?. These files:

ARF_ADJUSTMENT.CHK
UndergroundOUTFALLS.CHK
CHAN_INTERIOR_NODES.OUT
ManholePop.OUT

[2022-11-28 16:44] FLO-2DJJ commented on #874
Only write if IRAIN is equal to 1 (Physical processes switches)

[2022-11-30 16:12] FLO-2DNoemi commented on #877
@FLO-2DJJ see the following information:

**ARF_ADJUSTMENT.CHK**
Grid#,3000,Grid element ARF values were adjusted to 1.0 to eliminate the potential for instability related to small surface area.

**UndergOUTFALLS.CHK** @FLO-2DJJ check the name of the file.
GRID,FPE,Outfall,Invert Elevation,Elevation Difference

**CHAN_INTERIOR_NODES.OUT**
GRID

**ManholePop.OUT**
X_coord, Ycoord, GRID, Manhole Nam